      <div class="row bg-color-custom">
        <div class="col-xs-2 border rounded-circle  m-md-2">
          <div class="text-center align-middle p-md-2">
            <em class="fas fa-plane fa-2x" style="color: white;"></em>
          </div>
        </div>
        <div class="col-xs-10">
          <h5 class="text-light">{{depString}}
            <em class="fas fa-long-arrow-alt-right" style="color: white;"></em>
            {{arrString}}
          </h5>
          <h6 class="text-light">{{dateString}}</h6>
        </div>
      </div>
      <div class="row list-group list-group-horizontal-md text-center">
        <p *ngFor="let date of dateFlightString; index as i" class="col list-group-item" [class.active]="isActive[i]"
          (click)="changeFlightDate(i)">
          {{date}}
        </p>
      </div>
      <div class="row text-center">
        <ng-container *ngIf="flightSchedules.length > 0; else notFound">
          <table class="table">
            <thead class="no-border">
              <tr>
                <th scope="col">Hãng</th>
                <th scope="col">Mã chuyến bay</th>
                <th scope="col">Giờ khởi hành</th>
                <th scope="col">Giờ đến nơi</th>
                <th scope="col">Giá (VNĐ)</th>
                <th scope="col">Chi tiết</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let flight of flightSchedules; index as i">
                <tr *ngIf="isHidden[i]">
                  <td>
                    <img class="img-icon" width="50" height="50" [src]="branchImages[flight?.branch?.id]" alt="">
                  </td>
                  <td>{{flight?.flightCode}}</td>
                  <td>{{flight?.departureDateTime | date: 'HH:mm'}}</td>
                  <td>{{flight?.arrivalDateTime | date: 'HH:mm'}}</td>
                  <td>{{flight?.price | number}}₫</td>
                  <td>
                    <p (click)="detail(i)">Xem chi tiết</p>
                  </td>
                  <td>
                    <button (click)="select(i)" type="button" class="btn btn-sel-fn"
                      [style.background-color]="changeStyle ? '#00aeef' : '#ffa801'"
                      [style.border-color]="changeStyle ? '#00aeef' : '#ffa801'">
                      {{buttonChange[i]}}
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
        <ng-template #notFound>
          <p>
            Hiện tại không có chuyến bay phù hợp với tìm kiếm của bạn.
          </p>
        </ng-template>
      </div>
