<div class="main-content">
  <div class="container-fluid">
      <h2>Chỉnh sửa khuyến mãi</h2>
      <hr>
      <div class="row">
          <div class="col-md-12">
              <form id="form-create" style="padding-left: 50px; padding-right: 50px">

                  <div class="form-group">
                      <label for="inputAddress">Tên khuyến mãi *</label>
                      <input type="text" class="form-control form-control-sm" id="inputAddress">

                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputAddress">Hãng bay *</label>
                          <div class="checkbox">
                              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"> Vietnam Airlines
                          </div>

                          <div class="checkbox">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2"> VietJet Air
                          </div>

                          <div class="checkbox">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2"> JetStar Pacific
                          </div>

                      </div>

                      <div class="form-group col-md-6">
                          <label for="inputState">Chặng bay *</label>
                          <select id="inputState" class="form-control form-control-sm">
                              <option selected>Choose...</option>
                              <option>Hà Nội - TP.HCM</option>
                              <option>Hà Nội - Đà Nẵng</option>
                              <option>Đà Nẵng - TP.HCM</option>
                              <option>...</option>
                          </select>
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputCity">Giảm giá (%) *</label>
                          <input type="number" class="form-control form-control-sm" >
                      </div>

                      <div class="form-group col-md-6">
                          <label for="inputState">Hoặc giá bán ra (Đơn vị: VND/vé)</label>
                          <input type="number" class="form-control form-control-sm" >
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputAddress">Thời gian chuyến bay *</label>
                          <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Từ </span>
                              </div>
                              <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>

                      <div class="form-group col-md-6">
                          <label for="inputAddress">&nbsp;</label>
                          <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Đến </span>
                              </div>
                              <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputAddress">Thời gian hiển thị khuyến mãi *</label>
                          <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Từ </span>
                              </div>
                              <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>

                      <div class="form-group col-md-6">
                          <label for="inputAddress">&nbsp;</label>
                          <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Đến </span>
                              </div>
                              <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputState">Hạng khách *</label>
                          <div class="checkbox">
                              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"> Thường
                          </div>

                          <div class="checkbox">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2"> Member
                          </div>
                          <div class="checkbox">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2"> Gold
                          </div>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="inputState">Hạng vé *</label>
                          <select id="inputState" class="form-control form-control-sm">
                              <option selected>Choose...</option>
                              <option>Phổ thông</option>
                              <option>Phổ thông đặc việt</option>
                              <option>Thương gia</option>
                              <option>Hạng nhất</option>
                          </select>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="inputAddress2">Mô tả</label>
                      <textarea type="text" class="form-control form-control-sm" id="inputAddress2" cols="3" ></textarea>
                  </div>

                  <div class="float-center">
                      <a href="sprint2.html" class="btn btn-outline-success  btn-sm my-0">OK</a>
                      <a href="sprint2.html" class="btn btn-outline-primary  btn-sm my-0">Hủy</a>
                  </div>
              </form>
          </div>
      </div>
      <hr>

  </div>
</div>