<!--<div class="container-fluid-example">-->
<!--  <div style="text-align: center;" class="justify-content-between">-->
<!--    <h3>Danh Sách Khách Hàng</h3>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row mt-3">-->
<!--  <button [routerLink]="['/themKH']" class="btn btn-success"> Thêm KH</button>-->
<!--  <table class="table  mt-3">-->
<!--    <thead class="w-100">-->
<!--    <tr class="w-100">-->
<!--      <th>Mã KH</th>-->
<!--      <th>Họ Tên</th>-->
<!--      <th>Loại KH</th>-->
<!--      <th>Ngày sinh</th>-->
<!--      <th>CMND</th>-->
<!--      <th>Email</th>-->
<!--      <th>Địa chỉ</th>-->
<!--      <th>Sửa</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr-->
<!--      *ngFor="let kh of customers">-->
<!--      <td>{{kh.maKH}}</td>-->
<!--      <td>{{kh.tenKH}}</td>-->
<!--      <td>{{kh.loaiKH}}</td>-->
<!--      <td>{{kh.ngaysinhKH}}</td>-->
<!--      <td>{{kh.cmndKH}}</td>-->
<!--      <td>{{kh.emailKH}}</td>-->
<!--      <td>{{kh.diachiKH}}</td>-->

<!--      <td>-->
<!--        <button [routerLink]="['/suaKH/'+kh.id]" class="btn btn-primary"><i class="fas fa-pen-nib"></i></button>-->
<!--      </td>-->

<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
