<div class="content-wrapper">

  <div class="sidenav">
    <a routerLink="/employee/employeeInfo"><i class="fas fa-user-alt"></i> Thông tin nhân viên</a>
    <a routerLink="/employee/management"><i class="far fa-credit-card"></i> Quản lý khách hàng</a>
    <a routerLink="/employee/customer-checkin-list"> <i class="fas fa-search-dollar"></i> Khách hàng checkin</a>
    <a routerLink="/employee/tickets"> <i class="fas fa-file-invoice-dollar"></i> Quản lý bán vé</a>
    <a routerLink="/employee/promotion"> <i class="fas fa-file-invoice-dollar"></i>Quản lý khuyến mãi</a>
    <a routerLink="/employee/bill-list"> <i class="fas fa-file-invoice-dollar"></i>Hóa đơn</a>
    <a routerLink="/employee/findFlight"> <i class="fas fa-key"></i> Đặt vé</a>

  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

</div>