<div class="container-fluid px-0 pt-3">
  <div class="form-group row mx-0">
    <div class="sidenav col-md-2 px-0">
      <a [routerLink]="['/employee/employeeInfo']"><i class="fas fa-user-alt"></i> Thông tin nhân viên</a>
      <a [routerLink]="['/employee/management']"><i class="far fa-credit-card"></i> Quản lý khách hàng</a>
      <a href> <i class="fas fa-search-dollar"></i> Quản lý bán vé</a>
      <a href> <i class="fas fa-file-invoice-dollar"></i> Đặt vé</a>
      <a [routerLink]="['/customer/change-password']"><i class="fas fa-key"></i>Thống kê</a>
    </div>
    <div class="main col-md-10 px-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
