<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Danh sách khách hàng đã checkin</h1>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3">
      <form [formGroup]="formSearchCustomerCheckin">
        <div class="row">
          <div class="col-md">
            <label>Tên khách hàng</label>
            <input type="text" class="form-control" placeholder="vd: Nguyen Van A" style="width: 300px"
                   id="fullName" formControlName="fullName">
            <p
              *ngIf="formSearchCustomerCheckin.controls.fullName.errors?.pattern && formSearchCustomerCheckin.controls.fullName.touched"
              class="text-danger font-weight-bold"><b><i>
              Tên khách hàng không được chứa kí tự đặc biệt và số !</i></b></p>

          </div>
          <div class="col-md">
            <label>Địa chỉ</label>
            <input id="address" type="text" class="form-control" placeholder="vd: Đà Nẵng" style="width: 300px"
                   formControlName="address">
            <p
              *ngIf="formSearchCustomerCheckin.controls.address.errors?.pattern && formSearchCustomerCheckin.controls.address.touched"
              class="text-danger font-weight-bold"><b><i>
              Địa chỉ không được chứa kí tự đặc biệt !</i></b></p>
          </div>
          <div class="col-md">
            <label>&nbsp;</label><br>
            <button type="button" (click)="search()" class="btn btn-primary"><i
              class="fas fa-search"></i> Lọc kết quả
            </button>
            <p class="text-danger"><b><i>{{message}}</i></b></p>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <table class="table table-striped mt-2 text-center">
        <thead class="bg-primary text-white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khách hàng</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Email</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Địa chỉ</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let customer of customerCheckin | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}; index as i">
          <td>{{stt[i]}}</td>
          <td>{{customer.fullName}}</td>
          <td>{{customer.birthDate | date : 'dd-MM-yyyy'}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col mt-2">
    <div class="row d-flex justify-content-end">
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </div>
  </div>

</div>
