<div id="wrapper">
  <div class="detail">
    <div id="logo">
      <a href="#">
        <img src="https://vietnamairslines.com/image/data/logo/logo%20vnairslines.png">
      </a>
    </div>
    <div id="hotline">
      <div class="hotline1">
        Tổng Đài Đặt Vé
      </div>
      <hr>
      <div class="hotline2">
        08 19006088
      </div>
    </div>
  </div>
</div>
<div class="container-menu">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <ul class="nav navbar-nav">
        <li class="active">
          <a class="navbar-brand " href="#">
            <span>Trang chủ</span>
          </a>
        </li>
        <li class="active">
          <a class="navbar-brand menu" href="#">
            <span>Vé giá tốt</span>
          </a>
        </li>
        <li class="active">
          <a class="navbar-brand menu" href="#">
            <span>Thanh toán vé</span>
          </a>
        </li>
        <li class="active">
          <a class="navbar-brand menu" href="#">
            <span>Tin khuyến mại</span>
          </a>
        </li>
        <li class="active">
          <a class="navbar-brand menu" href="#">
            <span>Checkin online</span>
          </a>
        </li>
        <li class="active">
          <div class="dropdown">
            <a class="navbar-brand menu" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hỗ trợ
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/send-feedback">Góp ý</a>
              <a class="dropdown-item" href="#">Hướng dẫn</a>
            </div>
          </div>
        </li>
        <li class="active">
          <a class="navbar-brand menu2" href="#">
            <span>Đăng Nhập/Đăng xuất</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
