
    <div class="main-content container w-100" [formGroup]="ticketForm">
    <h1 class="text-center text-uppercase">quản lý bán vé</h1>
    <h2 class="text-center text-uppercase">Nhập vé bán</h2>
    <div formArrayName="adultPassengers">
        <fieldset class="well" *ngFor="let in of counter(flight?.adult) index as i">
            <legend class="well-legend"><i class="fa fa-inbox"></i> Danh sách hành khách - Người lớn {{i+1}}</legend>
            <div class="row p-2 ">
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Họ và tên<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="fullName" >
                        <div *ngIf="adultPassengers?.controls[i].get('fullName').invalid && adultPassengers?.controls[i].get('fullName').touched" class="text text-danger font-alert">
                            <span *ngIf= "adultPassengers?.controls[i].get('fullName').hasError('required')">Họ và tên không được để trống.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Giới tính<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <select class="form-control custom-select" formControlName="gender">
                            <option value="" selected disabled>Chọn...</option>
                            <option value="nam">Nam</option>
                            <option value="nữ">Nữ</option>
                        </select>
                        <div *ngIf="adultPassengers?.controls[i].get('gender').invalid && adultPassengers?.controls[i].get('gender').touched" class="text text-danger font-alert">
                            <span *ngIf= "adultPassengers?.controls[i].get('gender').hasError('required')">Giới tính không được để trống.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2 ">
                <div class="col-md-6 row">
                    <div class="col-md-4  pl-0 pr-0">
                        <label class="col-form-label">Điện thoại</label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="phoneNumber" >
                        <div *ngIf="adultPassengers?.controls[i].get('phoneNumber').invalid && adultPassengers?.controls[i].get('phoneNumber').touched" class="text text-danger font-alert">
                            <span *ngIf= "adultPassengers?.controls[i].get('phoneNumber').hasError('pattern')">Số điện thoại không đúng định dạng.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Email</label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="email">
                        <div *ngIf="adultPassengers?.controls[i].get('email').invalid && adultPassengers?.controls[i].get('email').touched" class="text text-danger font-alert">
                            <span *ngIf= "adultPassengers?.controls[i].get('email').hasError('pattern')">Email không đúng định dạng.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2 ">
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label pl-0 pr-0">CMND/Passport<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="identifierCard">
                        <div *ngIf="adultPassengers?.controls[i].get('identifierCard').invalid && adultPassengers?.controls[i].get('identifierCard').touched" class="text text-danger font-alert">
                            <span *ngIf= "adultPassengers?.controls[i].get('identifierCard').hasError('required')">CMND/Passport không được để trống.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Hành lý<span *ngIf="flightIds.length!=1"> chiều đi</span><span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <select class="form-control custom-select" formControlName="deptLuggagePrice" (change)="changeLuggage()">
                            <option value="0" [selected]="true">Miễn phí - 7Kg hành lý</option>
                            <option value="170000">Mua thêm - 15Kg - 170.000 VND</option>
                            <option value="225000">Mua thêm - 20Kg - 225.000 VND</option>
                            <option value="275000">Mua thêm - 25Kg - 275.000 VND</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row p-2 " *ngIf="flightIds.length!=1">
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Hành lý chiều về<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <select class="form-control custom-select" formControlName="arvLuggagePrice" (change)="changeLuggage()">
                            <option value="0" [selected]="true">Miễn phí - 7Kg hành lý</option>
                            <option value="170000">Mua thêm - 15Kg - 170.000 VND</option>
                            <option value="225000">Mua thêm - 20Kg - 225.000 VND</option>
                            <option value="275000">Mua thêm - 25Kg - 275.000 VND</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 row"></div>
            </div>
        </fieldset>
    </div>
    <div *ngIf="flight?.child*1!=0" formArrayName="childPassengers" >
        <fieldset class="well" *ngFor="let in of counter(flight?.child*1) index as i" >
            <legend class="well-legend"><i class="fa fa-inbox"></i> Danh sách hành khách - Trẻ em {{i+1}}</legend>
            <div class="row p-2 ">
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Họ và tên<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="fullName" >
                        <div *ngIf="childPassengers?.controls[i].get('fullName').invalid && childPassengers?.controls[i].get('fullName').touched" class="text text-danger font-alert0">
                            <span *ngIf= "childPassengers?.controls[i].get('fullName').hasError('required')">Họ và tên không được để trống.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Giới tính<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <select class="form-control custom-select" formControlName="gender">
                            <option value="" selected disabled>Chọn...</option>
                            <option value="nam">Nam</option>
                            <option value="nữ">Nữ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row p-2 ">
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Điện thoại</label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="phoneNumber" >
                        <div *ngIf="childPassengers?.controls[i].get('phoneNumber').invalid && childPassengers?.controls[i].get('phoneNumber').touched" class="text text-danger font-alert">
                            <span *ngIf= "childPassengers?.controls[i].get('phoneNumber').hasError('pattern')">Số điện thoại không đúng định dạng.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Hành lý<span *ngIf="flightIds.length!=1"> chiều đi</span><span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <select class="form-control custom-select" formControlName="deptLuggagePrice" (change)="changeLuggage()">
                            <option value="0" [selected]="true">Miễn phí - 7Kg hành lý</option>
                            <option value="170000">Mua thêm - 15Kg - 170.000 VND</option>
                            <option value="225000">Mua thêm - 20Kg - 225.000 VND</option>
                            <option value="275000">Mua thêm - 25Kg - 275.000 VND</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="row p-2 ">
                <div class="col-md-6 row">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Email</label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="email">
                        <div *ngIf="childPassengers?.controls[i].get('email').invalid && childPassengers?.controls[i].get('email').touched" class="text text-danger font-alert">
                            <span *ngIf= "childPassengers?.controls[i].get('email').hasError('pattern')">Email không đúng định dạng.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row" *ngIf="flightIds.length!=1">
                    <div class="col-md-4 pl-0 pr-0">
                        <label class="col-form-label">Hành lý chiều về<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8" [formGroupName]="i">
                        <select class="form-control custom-select" formControlName="arvLuggagePrice" (change)="changeLuggage()">
                            <option value="0" [selected]="true">Miễn phí - 7Kg hành lý</option>
                            <option value="170000">Mua thêm - 15Kg - 170.000 VND</option>
                            <option value="225000">Mua thêm - 20Kg - 225.000 VND</option>
                            <option value="275000">Mua thêm - 25Kg - 275.000 VND</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <fieldset class="well">
        <legend class="well-legend"><i class="fas fa-plane-departure"></i> Chuyến bay đi</legend>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5">
                    <label class="col-form-label">Mã chuyến bay</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="departureFlight?.flightCode" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5">
                    <label class="col-form-label pl-3">Giờ đi</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="departureFlight?.departureDateTime|date:'HH:mm dd/MM/yyyy'" disabled>
                </div>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label text-right">Hãng máy bay</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="departureFlight?.branch?.name" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label pl-3">Giờ đến</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="departureFlight?.arrivalDateTime|date:'HH:mm dd/MM/yyyy'" disabled>
                </div>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label">Số lượng vé</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="flight?.adult*1+flight?.child*1*1" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label pl-3">Tổng giá gốc<br>(VND)</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="(flight?.adult+flight?.child*1)*departureFlight?.price|number" disabled>
                </div>
            </div>     
        </div>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label">Giá vé (VND)</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="departureFlight?.price|number" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label pl-3">Tổng giá bán <br>(VND)</label>
                </div>
                <div class="col-md-7" formGroupName="otherDetails">
                    <input type="text" class="form-control" readonly [value]="deptPrice|number" >
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="well" *ngIf="flightIds.length!=1">
        <legend class="well-legend"><i class="fas fa-plane-departure"></i> Chuyến bay về</legend>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5">
                    <label class="col-form-label">Mã chuyến bay</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="arrivalFlight?.flightCode" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5">
                    <label class="col-form-label pl-3">Giờ đi</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="arrivalFlight?.departureDateTime|date:'HH:mm dd/MM/yyyy'" disabled>
                </div>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label text-right">Hãng máy bay</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="arrivalFlight?.branch?.name" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label pl-3">Giờ đến</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="arrivalFlight?.arrivalDateTime|date:'HH:mm dd/MM/yyyy'" disabled>
                </div>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label">Số lượng vé</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="flight?.adult*1+flight?.child*1*1" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label pl-3">Tổng giá gốc<br>(VND)</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="(flight?.adult*1+flight?.child*1*1)*arrivalFlight?.price|number" disabled>
                </div>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label">Giá vé (VND)</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" [value]="arrivalFlight?.price|number" disabled>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label pl-3">Tổng giá bán <br>(VND)</label>
                </div>
                <div class="col-md-7" formGroupName="otherDetails">
                    <input type="text" class="form-control" readonly [value]="arvPrice|number">
                </div>
            </div>
        </div>
    </fieldset>
    
<!-- Thanh toán -->
    <fieldset class="well">
        <legend class="well-legend"><i class="fa fa-credit-card"></i> Thanh toán</legend>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label ">Tổng giá gốc <br>(VND)</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" *ngIf="flightIds.length!=1" [value]="((flight?.adult+flight?.child*1)*arrivalFlight?.price)+((flight?.adult+flight?.child*1)*departureFlight?.price)+getTotalArvLuggagePrice()+getTotalArvLuggagePrice()|number" disabled>
                    <input type="text" class="form-control" *ngIf="flightIds.length==1" [value]="((flight?.adult+flight?.child*1)*departureFlight?.price)+getTotalDeptLuggagePrice()|number" disabled>
                </div>
            </div>
            <div class="col-md-6 row pr-0">
                <div class="col-md-6">
                    <label class="col-form-label pl-3">Email khách hàng</label>
                </div>
                <div class="col-md-6 p-0" formGroupName="otherDetails">
                    <input type="email" class="form-control" placeholder="Nhập email" formControlName="emailCheck">
                    <div class="text-danger font-alert" *ngIf="emailCheck!='Email hợp lệ'">{{emailCheck}}</div>
                    <div class="text-primary font-alert" *ngIf="emailCheck=='Email hợp lệ'">{{emailCheck}}</div>
                </div>
                
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-md-6 row">
                <div class="col-md-5 ">
                    <label class="col-form-label">Tổng giá bán<br>(đã bao gồm hành lý-VND)</label>
                </div>
                <div class="col-md-6" formGroupName="otherDetails">
                    <input type="text" class="form-control" [value]="totalPrice|number" formControlName="totalPrice" disabled>
                </div>
            </div>
            <div class="col-md-6 row justify-content-end h-50">
                <input type="button" class="btn btn-success mr-3" value="Kiểm tra" (click)="checkEmail()">
            </div>
        </div>
    </fieldset>
    <div class="row mb-3">
        <div class="col-md-3">
            <button class="btn btn-warning ml-5" matStepperPrevious >Quay lại</button>
        </div>
        <div class="col-md-9 d-flex justify-content-end">
            <input type="submit" class="btn btn-primary mr-3" value="Lưu" [disabled]="this.emailCheck!='Email hợp lệ'||!ticketForm.valid" data-toggle="modal" data-target="#myModal2">
            <button type="button" class="btn btn-danger" data-toggle="modal" [disabled]="this.emailCheck!='Email hợp lệ'||!ticketForm.valid" data-target="#myModal">
                In vé
            </button>
        </div>
    </div>
</div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Xác nhận</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
        <p>Thông tin vé sẽ được lưu và cập nhật xuống hệ thống. </p>
        <p>Bạn có chắc chắn muốn in vé?</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-warning mr-3" data-dismiss="modal">Đóng</button>
            <button class="btn btn-danger" (click)="goToInvoicePage()">In vé</button>
        </div>
    </div>
    </div>
    </div>

    <!-- The Modal Lưu vé-->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Xác nhận</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
            <p>Thông tin vé sẽ được lưu và cập nhật xuống hệ thống. </p>
            <p>Bạn có chắc chắn muốn lưu vé?</p>
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning mr-3" data-dismiss="modal">Đóng</button>
                <button class="btn btn-primary" (click)="saveTicket()">Lưu vé</button>
            </div>
        </div>
        </div>
        </div>
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Lưu vé thành công
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                </div>
              </div>
            </div>
          </div>

