.table td {
  padding: 0.1rem;
}

.table th {
  padding: 0.1rem;
}

#review-trip {
  background-color: whitesmoke;
}

.fly-date {
  font-weight: 600;
  margin-bottom: .75rem;
  color: #4469b0;
}

.reservation-detail {
  font-family: Arial, Helvetica, sans-serif;
}
