<main>
  <div class="main-content">
    <br>
    <div class="container-fluid">
      <h2>QUẢN LÝ LIÊN HỆ CỦA KHÁCH HÀNG</h2>
      <br>
      <form [formGroup]="formSearchList">
        <div class="row">
          <div class="col-md">
            <label for="nguoiDang">Ngày liên hệ</label>
            <input type="date" class="form-control" id="nguoiDang" formControlName="createDate" placeholder="Vd: Anna">
          </div>
          <div class="col-md">
            <label for="nguoiMua">Tên khách hàng</label>
            <input type="text" class="form-control" id="nguoiMua"  formControlName="customerName" placeholder="Vd: Anna">
          </div>
          <div class="col-md">
            <label for="nguoiMua">Trạng thái xử lý</label>
            <select class="custom-select" id="productType" formControlName="processStatus">
              <option selected disabled value="">Chọn...</option>
              <option type="b" value="true">Đã xử lý</option>
              <option value="false">Chưa xử lý</option>
            </select>
          </div>
          <div class="col-md">
            <label>&nbsp;</label><br>
            <button class="btn btn-primary"  (click)=" search()"><i class="fas fa-search"></i> Lọc
              kết quả
            </button>
          </div>
        </div>
      </form>
      <br><br>
      <h4>Tổng các liên hệ chưa được xử lý: {{unprocessedStatusAmount}}</h4>
      <table class="table table-hover">
        <thead class="table-primary">
        <tr>
          <th>STT</th>
          <th>Chọn</th>
          <th>Tên khách hàng</th>
          <th>Chủ đề</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Ngày liên hệ</th>
          <th>Trạng thái xử lý</th>
          <th>Nội dung</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let feedback of feedbackPage | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}; index as i">
          <td>{{stt[i]}}</td>
          <td><input type="checkbox"></td>
          <td>{{feedback.customerName}}</td>
          <td>{{feedback.topic}}</td>
          <td>{{feedback.customerEmail}}</td>
          <td>{{feedback.customerPhone}}</td>
          <td>{{feedback.createDate | date : 'dd/MM/yyyy'}}</td>
          <td [class]="setColorFieldStatusOfProcessStatus(feedback.processStatus)">{{feedback.processStatus ? "Đã xử lý" :  "Chưa xử lý"}}</td>
          <td>
            <button class="btn btn-primary" (click)="openFeedbackDialog(feedback)">Xem</button>
          </td>
        </tr>
        </tbody>

      </table>

      <div class="mt-3 d-flex justify-content-end">
        <pagination-controls (pageChange)="getFeedbackPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</main>
