<div class="main-content">

  <div>
    <h2>Danh sách hóa đơn</h2>
  </div>

  <div class="row mr-5">

    <table class="table table-hover col-12 border-1">

      <thead class="table-primary">
        <td> STT </td>
        <td> Ký hiệu hóa đơn</td>
        <td> Ngày hóa đơn </td>
        <td> Tình trạng đơn </td>
        <td> Mã hóa đơn </td>
        <td> Khách hàng </td>
        <td> </td>
      </thead>

      <tr *ngFor="let bills of billsList| paginate: { itemsPerPage: 5, currentPage: p }">
        <td>
          {{bills.id}}
        </td>
        <td>
          Sp001
        </td>
        <td>
          {{bills.dateCreated}}
        </td>
        <td>
          {{bills.transaction.status}}
        </td>
        <td>
          {{bills.billCode}}
        </td>
        <td>
          {{bills.transaction.account.fullName}}
        </td>
        <td> 
          <button type="button" class="btn btn-outline-info ml-5 p-2" (click)="openDialogViewBills(bills.id)"> Xem hóa đơn</button>
        </td>
      </tr>

    </table>


    <div class="d-flex justify-content-end">
      <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
    


  </div>
</div>

<div>
  <!-- <button type="button" class="btn btn-outline-info ml-5 p-2" (click)="openDialogViewBills()"> Xem hóa đơn</button> -->
  <button type="button" class="btn btn-outline-info ml-5 p-2" (click)="openDialogFind()">
    <span > Tìm kiếm hóa đơn </span>
    <i class="fas fa-search ml-2"></i>
  </button>
</div>