<div class="container mt-md-3">
  <!-- <h3>Thông tin khách hàng </h3> -->
  <!-- departure -->
  <div class="row bg-color-custom text-center">
    <h5 class="text-light ml-md-2">Khởi hành từ {{depInfo?.departureAirport?.city}}</h5>
  </div>
  <hr>
  <div class="row">
    <!-- đi -->
    <div class="col-md-3">
      <p>{{depInfo?.departureAirport?.city}} ({{depInfo?.departureAirport?.code}})</p>
      <p>{{depInfo?.departureDateTime | date: 'HH:mm'}},
        {{depInfo?.departureDateTime | date: 'dd/MM/yyyy'}}</p>
      <p>{{depInfo?.departureAirport?.name}}</p>
    </div>
    <!-- đến -->
    <div class="col-md-3">
      <p>{{depInfo?.arrivalAirport?.city}} ({{depInfo?.arrivalAirport?.code}})</p>
      <p>{{depInfo?.arrivalDateTime | date: 'HH:mm'}},
        {{depInfo?.arrivalDateTime | date: 'dd/MM/yyyy'}}</p>
      <p>{{depInfo?.arrivalAirport?.name}}</p>
    </div>
    <!-- hãng bay -->
    <div class="col-md-3">
      <p>{{depInfo?.branch.name}}</p>
      <p>Chyến bay: {{depInfo?.flightCode}}</p>
      <p>Loại vé: Phổ thông</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Hành khách</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Giá vé (VND)</th>
          <th scope="col">Thuế và phí (VND)</th>
          <th scope="col">Tổng giá (VND)</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let info of priceInfo">
          <tr>
            <td>{{info.passengerType}}</td>
            <td>{{info.quantity}}</td>
            <td>{{info.netPrice | number}}₫</td>
            <td>{{info.tax | number}}₫</td>
            <td>{{info.totalPrice | number}}₫</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <hr>
  <h5>Thông tin hành khách bay</h5>
  <ng-container *ngFor="let form of people" appForm></ng-container>
</div>
