<div class="reservation">
  <div class="find-reservation card">
    <form [formGroup]="findReservationFG" (ngSubmit)="findReservation()">
      <div class="mb-3">
        <label class="main-color" for="reservationCode">Mã đặt chỗ</label>
        <input type="text" class="form-control" id="reservationCode" [formControl]="reservationCode">
        <div class="error-message mt-2" *ngIf="reservationCode.touched && reservationCode.getError('required')">
          Vui lòng nhập mã đặt chỗ.
        </div>
      </div>
      <div class="mb-5">
        <label class="main-color" for="phone">Số điện thoại</label>
        <input type="tel" class="form-control" id="phone" [formControl]="phone">
        <div class="error-message mt-2"
          *ngIf="phone.touched && (phone.getError('required') || phone.getError('pattern'))">
          Bạn hãy nhập chính xác số điện thoại.
        </div>
      </div>
      <div>
        <div class="not-found-message" *ngIf="isNotFound">
          Số điện thoại và mã đặt chỗ không trùng khớp.
        </div>
        <button class="btn btn-find form-control mt-2" type="submit" [disabled]="findReservationFG.status === 'INVALID'">
          Kiểm tra
        </button>
      </div>
    </form>
  </div>
</div>
