<main>
  <div class="main-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-9 ">
          <h2>Khuyến mãi&nbsp;&nbsp;&nbsp;</h2>
        </div>
        <div class="col-md-3">
          <div class="float-right">
            <a href="/employee/promotion/create" target="_blank" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Thêm mới</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 ">
          <form>
            <fieldset style="background-color: #bdc3c7;">
              <div class="row" style="margin: 10px 10px 0 10px;">

                <div class="col-md">
                  <label for="inputState">Chặng bay *</label>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Điểm khởi hành</span>
                    </div>
                    <select class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                      <option disabled>Chọn...</option>
                      <option *ngFor="let airport of airportList">{{airport.city}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md">
                  <label for="inputState">&nbsp;</label>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Điểm đến</span>
                    </div>
                    <select class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                      <option disabled>Chọn...</option>
                      <option *ngFor="let airport of airportList">{{airport.city}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md">
                  <label for="nguoiDang">Chủ đề khuyến mãi</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
                </div>
              </div>
              <div class="row" style="margin: 0 10px 0 10px;">
                <div class="col-md">
                  <label for="thanhTien">Ngày khởi hành bay</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Từ </span>
                    </div>
                    <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>

                <div class="col-md">
                  <label for="thanhTien">&nbsp;</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Đến </span>
                    </div>
                    <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
                <div class="col-md">
                  <label>Hãng hàng không</label>
                  <select class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                    <option disabled>Chọn...</option>
                    <option *ngFor="let airline of airlineList" >{{airline.name}}</option>
                  </select>
                </div>
              </div>

              <div class="row" style="margin: 15px 10px 20px 10px;">
                <div class="col-md">
                  <label for="thanhTien">Hiển thị khuyến mãi</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Từ </span>
                    </div>
                    <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>

                <div class="col-md">
                  <label for="thanhTien">&nbsp;</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Đến </span>
                    </div>
                    <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
                <div class="col-md">
                  <label>&nbsp;</label><br>
                  <button type="submit" class="btn btn-outline-primary btn-rounded btn-sm my-0"><i class="fas fa-search"></i> Tìm kiếm</button>
                </div>
              </div>
            </fieldset>
          </form>
          <br>
        </div>
      </div>
      <!-- --- -->

      <div class="row">
        <div class="col-md-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
<!--              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Đang kích hoạt</a>-->
<!--              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Chưa kích hoạt</a>-->
<!--              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Hết hiệu lực</a>-->
              <a (click)="showPromoList('active')" class="nav-item nav-link active" href="#" data-toggle="tab" role="tab" aria-selected="true">Đang kích hoạt</a>
              <a (click)="showPromoList('not-active')" class="nav-item nav-link" href="#" data-toggle="tab" role="tab" aria-selected="false">Chưa kích hoạt</a>
              <a (click)="showPromoList('expired')" class="nav-item nav-link" href="#" data-toggle="tab" role="tab" aria-selected="false">Hết hiệu lực</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="table-responsive">
                <table class="table table-hover shopping-cart-wrap">
                  <thead class="text-muted" style="text-align: center; vertical-align: middle;">
                  <tr style="color: #e74c3c">
                    <th scope="col" width=5%>ID</th>
                    <th scope="col" width=20%>Chủ đề khuyến mãi</th>
                    <th scope="col" width=10%>Giảm giá</th>
                    <!-- <th scope="col" width="120">Giá bán ra (VND)</th> -->
                    <th scope="col" width=10%>Hãng hàng không</th>
                    <th scope="col" width=10%>Tuyến bay</th>
                    <th scope="col" width=10%>Hiển thị khuyến mãi</th>
                    <th scope="col" width=10%>Ngày bay</th>
                    <!-- <th scope="col" width="200" class="text-right"></th> -->
                  </tr>

                  <tbody>

                  <tr *ngFor="let promo of promoList">
                    <td>
                      <div class="price-wrap">
                        <dl class="param param-inline small">
                          <dt>{{promo.id}}</dt>
                        </dl>
                      </div> <!-- price-wrap .// -->
                    </td>

                    <td>
                      <figure class="media">
<!--                        <div class="img-wrap"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple123/v4/2e/72/9a/2e729a66-d117-baa3-b603-5d4c77ec6417/source/256x256bb.jpg" width="20px"></div>-->
                        <div class="text-left">
                          <h6 class="alert alert-success title">{{promo.namePromo}}</h6>
                          <a title="" href="" class="btn-sm btn-outline-success" data-toggle="tooltip" > <i class="far fa-edit"></i> Sửa</a>
                          <a href="" class="btn-sm btn-outline-danger"> <i class="far fa-trash-alt"></i> Xóa</a>
<!--                          <div class="alert alert-success">-->
<!--                            <dl class="param param-inline small">-->
                              <!--<dt>Hạng khách: </dt>-->
<!--                              <dd><b>Hạng khách:</b> Gold</dd>-->
<!--                            </dl>-->
<!--                          </div>-->
                        </div>
                      </figure>
                    </td>

                    <td>
                      <div class="price-wrap">
                        <var class="price">{{promo.discount*100}} %</var>
                        <small class="text-muted">/vé</small>
                      </div> <!-- price-wrap .// -->
                    </td>

                    <td>
                      <div class="price-wrap">
                        <dl class="param param-inline small">
                          <dt>{{promo.airline.name}}</dt>
                        </dl>
                      </div> <!-- price-wrap .// -->
                    </td>

                    <td>
                      <div class="price-wrap">
                        <dl class="param param-inline small">
                          <dd>{{promo.departurePlace.city}} - {{promo.arrivalPlace.city}}</dd>
                          <small class="text-muted">{{promo.departurePlace.code}} - {{promo.arrivalPlace.code}}</small>
                        </dl>
                      </div> <!-- price-wrap .// -->
                    </td>

                    <td>
                      <div class="price-wrap">
                        <dl class="param param-inline small">
                          <dd>{{promo.promoDateStart | date: 'dd/MM/yyyy'}} - {{promo.promoDateEnd | date: 'dd/MM/yyyy'}}</dd>
                        </dl>
                      </div> <!-- price-wrap .// -->
                    </td>

                    <td>
                      <div class="price-wrap">
                        <dl class="param param-inline small">
                          <dd>{{promo.flightDepartureDateStart | date: 'dd/MM/yyyy'}} - {{promo.flightDepartureDateEnd | date: 'dd/MM/yyyy'}}</dd>
                        </dl>
                      </div> <!-- price-wrap .// -->
                    </td>
                  </tr>

                  </tbody>
                </table>

                <nav>
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>

              </div> <!-- card.// -->
            </div> <!-- row -->

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              Giao diện giống table ở tab "Đang kích hoạt". Tab này giúp người dùng nhận biết những khuyến mãi sắp hết hạn (trước 2 ngày)
              và có hành động kịp thời để cập nhật khuyến mãi
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              Giao diện giống table ở tab "Đang kích hoạt". Tab này giúp người dùng xem lại những khuyến mãi đã hết hiệu lực,
              và có thể tiết kiệm thời gian bằng cách edit để thành những khuyến mãi mới dựa trên nội dung sẵn có
            </div>

          </div> <!-- col of column-->
        </div> <!-- row of column-->

      </div> <!--row of main content-->

      <hr>

    </div>
  </div>
</main>
