<table class="table border">
  <thead class="bg-warning">
  <tr>
    <th class="text-center"></th>
    <th class="text-left">Mã vé</th>
    <th class="text-left">Nơi đi</th>
    <th class="text-left">Nơi đến</th>
    <th class="text-center">Ngày đặt vé</th>
    <th class="text-center">Ngày bay</th>
    <th class="text-center">Giá</th>
    <th class="text-center">Hủy</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of transactions">
    <td class="text-center">
      <input (click)="toggleCheckbox(t.id)" class="largerCheckbox" name="transaction" type="checkbox">
    </td>
    <td class="text-left">{{t.id}}</td>
    <td class="text-left">{{t.flightSchedule.departureAirport.city}}</td>
    <td class="text-left">{{t.flightSchedule.arrivalAirport.city}}</td>
    <td class="text-center">{{t.createdTime | date: 'yyyy-MM-dd'}}</td>
    <td class="text-center">{{t.flightSchedule.departureDateTime | date: 'yyyy-MM-dd'}}</td>
    <td class="text-right">{{t.price | number}} ₫</td>
    <td class="text-center">
      <button (click)="pickToCancel(t.id)" class="btn btn-warning btn-sm" data-target="#confirmDeleteModal"
              data-toggle="modal">
        <i class="fas fa-plane-slash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end mb-3">
  <div class="card">
    <div class="card-body">
      <div class="row mx-0" style="font-size: large;">
        <div class="col-auto px-0">Tổng tiền</div>
        <div class="col text-right pr-0" style="font-weight: 600;color:#4469b0;">
          {{totalPrice| number}} ₫
        </div>
      </div>
      <div class="text-right" style="font-size: small;">
        Bao gồm thuế, phí và phụ phí
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div>

<!-- The Modal -->
<div class="modal fade" id="confirmDeleteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cảnh báo</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <b>Bạn có chắc muốn hủy mã đặt chỗ này?</b>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" data-dismiss="modal" type="button">Trở về</button>
        <button (click)="cancelTransaction()" class="btn btn-danger btn-sm" data-dismiss="modal" type="button">Đồng ý
        </button>
      </div>

    </div>
  </div>
</div>
