<div id="modal-content-wrapper" class="d-fex justify-content-center">
  <header id="modal-header">
    <h1 id="modal-title" style="color: red">Xóa vé ! </h1>
  </header>
  <section id="modal-body">
    <p class="mat-primary">
      Vé hãng : <span class="text-primary font-weight-bold ml-2">{{airline}}</span><br class="mt-2">
      Mã vé: <span class="text-primary font-weight-bold ml-4"> {{bookingCode}} </span><br class="mt-2">
      Tên <span class="text-primary font-weight-bold ml-5"> {{name}} </span>
    </p>

    <span class="text-danger font-weight-bold">Chú ý:</span> Xóa không thể hoàn tác !!!
  </section>
  <footer id="modal-footer" style="float: right">
    <button  mat-raised-button class="btn btn-primary mr-3" id="modal-cancel-button" mat-dialog-close>Hủy</button>
    <button mat-raised-button class="btn btn-warning mr-3" id="modal-submit-button" mat-dialog-close (click)="delete()" >Xóa</button>
  </footer>
</div>
