<div class="container mt-5 mb-3" id="container" style="width:450px">
    <div class="d-flex justify-content-center">
        <img style="height: 140px; width: 420px;" src="https://i.pinimg.com/originals/ea/d3/6c/ead36c1e1f57a2e818f1e509d1a1e1e1.jpg">
    </div>
    <div class="border p-3 justify-content-center">
        <h3 class="font-weight-normal text-uppercase">Mã đặt chỗ: <span class="font-weight-bold">ABCD123</span></h3>
        <p><span class="font-weight-bold">TP Hồ Chí Minh</span> đến <span class="font-weight-bold">Hà Nội</span></p>
        <p class="pl-5">Khởi hành: <span class="font-weight-bold">15:00, 20/09/2020</span></p>
        <p class="pl-5">Đến: <span class="font-weight-bold">16:00, 20/09/2020</span></p>
        <p class="pl-5">Mã chuyến bay: <p class="pl-5 font-weight-bold">VN-123 Vietnam Airlines</p>
        <p class="pl-5">Ghế: <span class="font-weight-bold">42D</span></p>
        <p class="pl-5">Khoang hạng phổ thông</p>
        <p class="pl-5">Giá: <span class="font-weight-bold">3.000.000 VND</span></p>
        <hr>
        <p><span class="font-weight-bold">Hà Nội</span> đến <span class="font-weight-bold">TP Hồ Chí Minh</span></p>
        <p class="pl-5">Khởi hành: <span class="font-weight-bold">15:00, 21/09/2020</span></p>
        <p class="pl-5">Đến: <span class="font-weight-bold">16:00, 21/09/2020</span></p>
        <p class="pl-5">Mã chuyến bay: <p class="pl-5 font-weight-bold">VN-123 Vietnam Airlines</p>
        <p class="pl-5">Ghế: <span class="font-weight-bold">45E</span></p>
        <p class="pl-5">Khoang hạng phổ thông</p>
        <p class="pl-5">Giá: <span class="font-weight-bold">3.000.000 VND</span></p>
        <hr>
        <h5 class="text-uppercase font-weight-bold">Danh sách người đi</h5>
        <p class="pl-5 text-uppercase">nguyen van a</p>
        <p class="pl-5 text-uppercase">nguyen van b</p>
        <p class="pl-5 text-uppercase">nguyen van c</p>
        <hr>
        <h5 class="text-uppercase font-weight-normal">tổng tiền: <span class="font-weight-bold">6.000.000 VND</span></h5>
        <div class="mt-3 pl-5">
            <p class="text-uppercase font-weight-bold "><u>điều kiện giá vé</u></p>
            <p>Vé không hoàn, không hủy</p>
            <p>Hành lý xách tay 7kg, nhỏ gọn</p>
            <p>Liên hệ</p>
            <p>Công ty: Phòng vé ABC</p>
            <p>Địa chỉ: 01 Trần Phú, Đà Nẵng</p>
            <p>Điện thoại: 0236.987.555</p>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-between mb-3 " >
    <div class="col-md-3 "></div>
    <div class="col-md-2 ml-5 mr-5">
        <input type="button" class="btn btn-warning ml-5 printPageButton" onclick="window.location='/inputTicket.html'" value="Quay lại">
    </div>
    <div class="col-md-3 ml-5 pl-5">
        <button class="btn btn-danger printPageButton" id="printPageButton" onclick="window.print()">In vé</button>
    </div>
    <div class="col-md-2"></div>
</div>
