<!-- C-Ngan -->

<h3>Danh sách vé đã thanh toán</h3>

<form class="search" [formGroup]="searchForm">
    <div class="search1">
        <input type="text" class="form-control" placeholder="Mã hóa đơn" formControlName="billCode">
        <p class="pt-2" *ngIf="searchForm.get('billCode').invalid && searchForm.get('billCode').dirty"><small
                class="text-danger">Vui lòng nhập mã hóa đơn hợp lệ</small></p>

    </div>

    <div class="search2">
        <select type="text" class="form-control" formControlName="brand">
            <option value="" disabled>Chọn hãng bay</option>
            <option *ngFor="let brand of brands" value={{brand.name}}>{{brand.name}}</option>
        </select>
        <p class="pt-2" *ngIf="searchForm.get('brand').invalid && searchForm.get('brand').dirty"><small
                class="text-danger">Vui lòng nhập hãng bay hợp lệ</small></p>
    </div>

    <div class="search3">
        <select type="text" class="form-control" formControlName="departure">
            <option value="" disabled>Chọn nơi đi</option>
            <option *ngFor="let airport of airports" value={{airport.name}}>{{airport.name}}</option>
        </select>
        <p class="pt-2" *ngIf="searchForm.get('departure').invalid && searchForm.get('departure').dirty"><small
                class="text-danger">Vui lòng nhập nơi đi hợp lệ</small></p>
    </div>
    <div class="search4">
        <select type="text" class="form-control" formControlName="arrival">
            <option value="" disabled>Chọn nơi đến</option>
            <option *ngFor="let airport of airports" value={{airport.name}}>{{airport.name}}</option>
        </select>
        <p class="pt-2" *ngIf="searchForm.get('arrival').invalid && searchForm.get('arrival').dirty"><small
                class="text-danger">Vui lòng nhập nơi đến hợp lệ</small></p>
    </div>

    <button class="btn btn-outline-dark" (click)="search()">Tìm kiếm</button>
</form>

<table class="table table-bordered table-striped text-center">
    <thead class="bg-warning">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Chuyến bay</th>
            <th scope="col">Người thanh toán</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Ngày thanh toán</th>
            <th scope="col">Hãng bay</th>

        </tr>
    </thead>
    <tbody class="bg-white">
        <tr
            *ngFor="let paidDeal of paidDeals| async| paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements} index as i ">
            <td>{{i+1}}</td>
            <td>{{paidDeal.transaction.flightSchedule.flightCode}}</td>
            <td>{{paidDeal.transaction.account.fullName}}</td>
            <td>{{paidDeal.transaction.price | number }} đ</td>
            <td>{{paidDeal.dateCreated| date: 'dd/MM/yyyy'}}</td>
            <td>{{paidDeal.transaction.flightSchedule.branch.name}}</td>
        </tr>
    </tbody>
</table>


<div class="pagination">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>

<button class="btn btn-dark" id="createBills" data-toggle="modal" data-target="#bills">Tạo hóa đơn</button>

<div class="modal fade" id="bills" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn có muốn lập hóa đơn?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input  type="text" class="form-control col-3 mx-3" placeholder="Mã số thuế" >
                    <input  type="text" class="form-control col-7" placeholder="Tên công ty" >
                </div>               
             
                <p class="text-danger"><b>Lưu ý: Các tiền dịch vụ khác không kèm theo hóa đơn này</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Bỏ qua</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openBillList()">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>