<div class="container-fluid">
  <div class="row ml-md-4 mt-md-3">
    <div class="col-md-8">
      <ng-template oneWay></ng-template>
      <ng-template oneWay></ng-template>
      <button (click)="confirmBooking()" class="btn btn-confirm-fn" [disabled]="!selectedDep || !selectedRet">Xác
        nhận</button>
      <div class="text-center">
        <p class="text-danger">{{errors}}</p>
      </div>
    </div>
    <!-- search form -->
    <div class="col-md-4">
      <div class="row mx-md-2">
        <form class="content-menu" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <legend>Sắp xếp</legend>
            <div class="border border-white rounded p-md-2">
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" class="custom-control-input" value="" formControlName="sortBy">
                <label class="custom-control-label" for="customRadio1">
                  Đề Xuất
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio2" class="custom-control-input" value="priceUp"
                  formControlName="sortBy">
                <label class="custom-control-label" for="customRadio2">
                  Giá (Thấp Đến Cao)
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio3" class="custom-control-input" value="priceDown"
                  formControlName="sortBy">
                <label class="custom-control-label" for="customRadio3">
                  Giá (Cao Đến Thấp)
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio4" class="custom-control-input" value="time"
                  formControlName="sortBy">
                <label class="custom-control-label" for="customRadio4">
                  Thời gian khởi hành
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio5" class="custom-control-input" value="branch"
                  formControlName="sortBy">
                <label class="custom-control-label" for="customRadio5">
                  Hãng hàng không
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <legend>Tìm chuyến bay</legend>
            <div class="border border-white rounded p-md-2">
              <div class="text-center">

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="oneway" class="custom-control-input" value="" formControlName="isRoundTrip"
                    (change)="changeWay($event)">
                  <label class="custom-control-label" for="oneway">Một chiều </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="twoway" class="custom-control-input" value="1" formControlName="isRoundTrip"
                    (change)="changeWay($event)">
                  <label class="custom-control-label" for="twoway">Khứ hồi</label>
                </div>
              </div>

              <label>Điểm đi</label>
              <select class="form-control custom-select" formControlName="departure"
                (change)="depId = $event.target.value">
                <option selected disabled value="">Chọn địa điểm...</option>
                <ng-container *ngFor="let airport of airportList">
                  <ng-container *ngIf="airport.id != arrId">
                    <option [value]="airport.id">{{airport.city}} ({{airport.code}})</option>
                  </ng-container>
                </ng-container>
              </select>

              <label>Điểm đến</label>
              <select class="form-control custom-select" formControlName="arrival"
                (change)="arrId = $event.target.value">
                <option selected disabled value="">Chọn địa điểm...</option>
                <ng-container *ngFor="let airport of airportList">
                  <ng-container *ngIf="airport.id != depId">
                    <option [value]="airport.id">{{airport.city}} ({{airport.code}})</option>
                  </ng-container>
                </ng-container>
              </select>

              <label>Ngày Đi</label>
              <input type="date" class="form-control" formControlName="depDate" min="{{today | date: 'yyyy-MM-dd'}}"
                [value]="depDate.value | date : 'yyyy-MM-dd'">

              <label>Ngày về</label>
              <input type="date" class="form-control" formControlName="retDate" min="{{today | date: 'yyyy-MM-dd'}}"
                [value]="retDate.value | date : 'yyyy-MM-dd'">

              <div class="form-row">
                <div class="col">
                  <label for="inputAddress">Em bé</label>
                  <select class="form-control custom-select" formControlName="babies">
                    <option *ngFor="let num of MAX_PEOPLE; index as i" value="{{i}}">{{i}}</option>
                  </select>
                </div>
                <div class="col">
                  <label for="inputAddress">Trẻ em</label>
                  <select class="form-control custom-select" formControlName="children">
                    <option *ngFor="let num of MAX_PEOPLE; index as i" value="{{i}}">{{i}}</option>
                  </select>
                </div>
                <div class="col">
                  <label for="inputAddress">Người lớn</label>
                  <select class="form-control custom-select" formControlName="adults">
                    <option *ngFor="let num of MAX_PEOPLE; index as i" value="{{i}}">{{i}}</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <input [disabled]="!searchForm.valid" type="submit" class="form-control btn btn-search-fn"
            style="margin-top :5px" value="Tìm chuyến bay" />
        </form>
      </div>
    </div>
  </div>
</div>
