<div class="content-wrapper">
   
    <div class="sidenav">
        <a href><i class="fas fa-user-alt"></i> Thông tin cá nhân</a>
        <a href><i class="far fa-credit-card"></i>  Thanh toán</a>
        <a routerLink = "/customer/deals" > <i class="fas fa-search-dollar"></i>  Lịch sử giao dịch</a>
        <a routerLink = "/customer/paid-deals"> <i class="fas fa-file-invoice-dollar"></i>  Vé đã thanh toán</a>
        <a href> <i class="fas fa-key"></i>  Đổi mật khẩu</a>
        
    </div>

    <div class="main">
        <router-outlet></router-outlet>
    </div>
    
</div>