<div class="d-print-none">
<div class="logomaybay">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="logomaybay2">
          <img src="https://res.flynow.vn/cdn/flynow/images/icon/airline/slide-airasia.png">
        </div>
      </div>
      <div class="col-2">
        <div class="logomaybay2">
          <img src="https://res.flynow.vn/cdn/flynow/images/icon/airline/slide-vietnam-airline.png">
        </div>
      </div>
      <div class="col-2">
        <div class="logomaybay2">
          <img src="https://res.flynow.vn/cdn/flynow/images/icon/airline/slide-vietjet.png">
        </div>
      </div>
      <div class="col-2">
        <div class="logomaybay2">
          <img src="https://res.flynow.vn/cdn/flynow/images/icon/airline/slide-jetstar.png">
        </div>
      </div>
      <div class="col-2">
        <div class="logomaybay2">
          <img src="https://res.flynow.vn/cdn/flynow/images/icon/airline/slide-american-airline.png">
        </div>
      </div>
      <div class="col-2">
        <div class="logomaybay2">
          <img src="https://res.flynow.vn/cdn/flynow/images/icon/airline/slide-tigerair.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <footer class="page-footer font-small mdb-color pt-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #d29328">Pháp Lý</h5>
          <hr class="hr4">
          <p>
            <a href="#" style="color: white">Các Điều Kiện & Điều Khoản</a>
          </p>
          <p>
            <a href="#" style="color: white">Điều Lệ Vận Chuyển</a>
          </p>
          <p>
            <a href="#" style="color: white">Bảo Mật Thông Tin</a>
          </p>
          <p>
            <a href="#" style="color: white">Điều Kiện Sử Dụng Cookies</a>
          </p>
          <p>
            <a href="#" style="color: white">Quy Chế Hoạt Động Sàn TMĐT</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #d29328">Câu Hỏi</h5>
          <hr class="hr4">
          <p>
            <a href="#" style="color: white">Giới Thiệu</a>
          </p>
          <p>
            <a href="#" style="color: white">Điều Khoản Sử Dụng</a>
          </p>
          <p>
            <a href="#" style="color: white">Chính Sách Bảo Mật</a>
          </p>
          <p>
            <a href="#" style="color: white">Hướng Dẫn Thanh Toán</a>
          </p>
          <p>
            <a href="#" style="color: white">Hướng Dẫn Đặt Vé</a>
          </p>
          <p>
            <a href="#" style="color: white">Cẩm Nang Du Lịch</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #d29328">Hỗ Trợ</h5>
          <hr class="hr4">
          <p>
            <a href="#" style="color: white">Chăm Sóc Khách Hàng</a>
          </p>
          <p>
            <a href="#" style="color: white">Chính Sách Bảo Vệ Khách Hàng</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #d29328">Thông Tin</h5>
          <hr class="hr4">
          <p>
            <a href="#" style="color: white">Thông Tin Hành Lý</a>
          </p>
          <p>
            <a href="#" style="color: white">Thuế,Phí,Lệ Phí & Phụ Thu</a>
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #d29328">Hãng Bay</h5>
          <hr class="hr4">
          <p>
            <a href="#" style="color: white">VietNam Airlines</a>
          </p>
          <p>
            <a href="#" style="color: white">Vietjet Air</a>
          </p>
          <p>
            <a href="#" style="color: white">Jetstart</a>
          </p>
          <p>
            <a href="#" style="color: white">Bambo Airlines</a>
          </p>
          <p>
            <a href="#" style="color: white">United Airlines</a>
          </p>
          <p>
            <a href="#" style="color: white">Air Asia</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #d29328">Liên Hệ</h5>
          <hr class="hr4">
          <p>
            <i class="fas fa-home mr-3" style="color: white">
              CodeGymDN
            </i>
          </p>
          <p>
            <i class="fas fa-envelope mr-3" style="color: white">
              Cgdn@gmail.com
            </i>
          </p>
          <p>
            <i class="fas fa-phone mr-3" style="color: white">
              + 01 234 567 88
            </i>
          </p>
          <p>
            <i class="fas fa-print mr-3" style="color: white">
              + 01 234 567 89
            </i>
          </p>
        </div>
      </div>
      <hr class="hr2">
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8">
          <p class="text-center text-md-left" style="color: white">© 2020 C0320G1</p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
