<main>
  <div class="main-content">
    <div class="container-fluid">
      <h2>Thêm mới khuyến mãi</h2>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <form id="form-create" style="padding-left: 50px; padding-right: 50px">
            <fieldset style="background-color: #bdc3c7;">
            <div style="margin: 20px 40px 20px 40px;">
            <div class="form-group">
              <label for="namePromo">Tên khuyến mãi *</label>
              <input formControlName="namePromo" type="text" class="form-control form-control-sm" id="namePromo">
<!--              <div *ngIf="namePromo.touched && namePromo.dirty">-->
<!--                <ng-container *ngFor="let error of errors.districtErrors">-->
<!--                  <small *ngIf="district.hasError(error.code)" class="d-block text-danger"-->
<!--                         role="alert">{{error.message}}</small>-->
<!--                </ng-container>-->
<!--              </div>-->
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Chặng bay *</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Điểm khởi hành *</span>
                  </div>
                  <select formControlName="city" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                    <option disabled>Chọn...</option>
                    <option *ngFor="let airport of airportList">{{airport.city}}</option>
                  </select>
                </div>

              </div>

              <div class="form-group col-md-6">
                <label for="inputState">&nbsp;</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Điểm đến *</span>
                  </div>
                  <select formControlName="city" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                    <option disabled>Chọn...</option>
                    <option *ngFor="let airport of airportList">{{airport.city}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Hãng hàng không *</label>
                <select formControlName="city" class="form-control form-control-sm" aria-describedby="inputGroup-sizing-sm">
                  <option disabled>Chọn...</option>
                  <option *ngFor="let airline of airlineList" >{{airline.name}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="inputCity">Giảm giá (%) *</label>
                <input formControlName="city" type="number" class="form-control form-control-sm" >
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAddress">Thời gian khởi hành bay *</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Từ </span>
                  </div>
                  <input formControlName="city" type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputAddress">&nbsp;</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Đến </span>
                  </div>
                  <input formControlName="city" type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAddress">Thời gian hiển thị khuyến mãi *</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Từ </span>
                  </div>
                  <input formControlName="city" type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputAddress">&nbsp;</label>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Đến </span>
                  </div>
                  <input formControlName="city" type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
            </div>

<!--            <div class="form-group">-->
<!--              <label for="inputAddress2">Mô tả</label>-->
<!--              <textarea type="text" class="form-control form-control-sm" id="inputAddress2" cols="3" ></textarea>-->
<!--            </div>-->

            <div class="float-center">
              <button type="submit" class="btn btn-outline-success btn-rounded btn-sm my-0">OK</button> &nbsp;
              <button type="submit" class="btn btn-outline-primary btn-rounded btn-sm my-0">Hủy</button>
            </div>
            </div>
            </fieldset>
          </form>
        </div>
      </div> <!--row-->
      <hr>

    </div>
  </div>
</main>
