<div class= "container d-flex justify-content-center mt-5 ">

  <div class="container-fluid  mt-4 " >
    <h3 class="mb-2 text-center">Đổi mật khẩu</h3>
    <form class="mt-5 mb-5  " id="userForm">
      <div class="form-group row justify-content-center">
        <label class="col-md-2 col-form-label">Mật khẩu hiện tại<span class="text-danger">*</span></label>
        <div class="col-md-4">
          <input class="form-control" required type="password" id="oldpass">
          <small class="d-block text-danger" id="checkOldPass"></small>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-md-2 col-form-label">Mật khẩu mới<span class="text-danger">*</span></label>
        <div class="col-md-4">
          <input class="form-control pr-4" required type="password" id="newpass">
          <small class="d-block text-danger" id="checkNewPass"></small>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-md-2 col-form-label">Xác nhận lại mật khẩu<span class="text-danger">*</span></label>
        <div class="col-md-4">
          <input class="form-control" required type="password" id="confirm">
          <small class="d-block text-danger" id="checkConfirm"></small>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center d-flex-column mr-5 " >
      <input  value="Đổi mật khẩu" class="btn btn-success ml-5 mb-2">
    </div>
  </div>
</div>

