<div class= "container d-flex justify-content-center mt-5 ">

  <div class="container-fluid  mt-4 " >
    <h3 class="mb-2 text-center">Đổi mật khẩu</h3>
    <form class="mt-5 mb-5 " [formGroup]="passwordForm"  (ngSubmit)="updatePassword()">
      <div class="form-group row justify-content-center">
        <label class="col-md-2 col-form-label">Mật khẩu hiện tại<span class="text-danger">*</span></label>
        <div class="col-md-4">
          <input class="form-control" required type="password" formControlName="password">
          <div *ngIf="passwordForm.get('password').invalid && passwordForm.get('password').touched" class="alert alert-danger mt-2 mb-0 ml-3">
            <span *ngIf= "passwordForm.get('password').hasError('required')" >Mật khẩu không được để trống.</span>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-md-2 col-form-label">Mật khẩu mới<span class="text-danger">*</span></label>
        <div class="col-md-4">
          <input class="form-control pr-4" required type="password" formControlName="newPassword">
          <div *ngIf="passwordForm.get('newPassword').invalid && passwordForm.get('newPassword').touched" class="alert alert-danger mt-2 mb-0 ml-3">
            <span *ngIf= "passwordForm.get('newPassword').hasError('required')" >Mật khẩu mới không được để trống.</span>
            <span *ngIf= "passwordForm.get('newPassword').hasError('pattern')" >Mật khẩu phải từ 8-20 ký tự, phải có ký tự viết hoa, ký tự số</span>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-md-2 col-form-label">Xác nhận lại mật khẩu<span class="text-danger">*</span></label>
        <div class="col-md-4">
          <input class="form-control" required type="password" formControlName="confirmPassword">
          <div *ngIf="passwordForm.getError('checkPassword') && passwordForm.get('confirmPassword').touched" class="alert alert-danger mt-2 mb-0 ml-3">
            <span>Xác nhận mật khẩu không đúng.</span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center d-flex-column mr-5 " >
        <input type="submit"  value="Đổi mật khẩu" class="btn btn-success ml-5 mb-2" [disabled] = "!passwordForm.valid">
      </div>
    </form>
    <div *ngIf="message!=''"  class="alert alert-success p-2" role="alert">
      {{message}}
    </div>
    <div *ngIf="errorMessage!=''" class="alert alert-warning p-2" role="alert">
      {{errorMessage}}
    </div>
    <div *ngFor="let mess of backendMessages">
      <div class="alert alert-warning p-2" role="alert" >
        {{mess}}
      </div>

    </div>
  </div>
</div>

