<div class="container-fluid">
  <h2 class=" mt-2 d-flex justify-content-center">QUẢN LÝ KHÁCH HÀNG</h2>
  <hr>
  <h3 class="d-flex justify-content-center">Thêm khách hàng</h3>
   <form class="mt-3 mb-5" [formGroup]="passengerForm">
    <div class="form-group px-3 d-flex justify-content-end">
      <label for="hoten" class="col-2 ml-2">Họ và tên<span class="text-danger">*</span></label>
      <div class="col-10">
        <input class="form-control" type="text" id="hoten" formControlName="fullName">
        <div *ngIf="passengerForm.get('fullName').invalid && passengerForm.get('fullName').touched"
             class="alert alert-danger mt-2 mb-0">
          <span *ngIf="passengerForm.get('fullName').hasError('required')">Họ và tên không được để trống.</span>
          <span *ngIf="passengerForm.get('fullName').hasError('whitespace')">Họ và tên không được chỉ chứa mỗi khoảng trắng.</span>
          <span *ngIf="passengerForm.get('fullName').hasError('containSpecialCharacters')">Họ và tên không được chứa ký tự đặc biệt.</span>
          <span
            *ngIf="passengerForm.get('fullName').hasError('maxlength')">Họ và tên không được nhiều hơn 255 ký tự.</span>
        </div>
      </div>
    </div>
    <div class="form-group px-3 d-flex justify-content-end">
      <label for="ngaysinh" class="col-2 ml-2">Ngày sinh<span class="text-danger">*</span></label>
      <div class="col-10">
        <input type="date" class="form-control" id="ngaysinh" formControlName="birthDate">
        <div *ngIf="passengerForm.get('birthDate').invalid && passengerForm.get('birthDate').touched"
             class="alert alert-danger mt-2 mb-0">
          <span *ngIf="passengerForm.get('birthDate').hasError('required')">Ngày sinh không được để trống.</span>
          <span *ngIf="passengerForm.get('birthDate').hasError('pattern')">Ngày sinh không đúng định dạng.</span>
          <span *ngIf="passengerForm.get('birthDate').hasError('chooseDateGreaterThanCurrentDate')">Ngày sinh không được lớn hơn ngày hiện tại.</span>
        </div>
      </div>
    </div>
    <div class="form-group px-3 d-flex justify-content-end">
      <label for="inlineRadio1" class="col-2 ml-2">Giới tính<span class="text-danger">*</span></label>
      <div class="col-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                 value="Nam" formControlName="gender">
          <label class="form-check-label" for="inlineRadio1">Nam</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                 value="Nữ" formControlName="gender" checked>
          <label class="form-check-label" for="inlineRadio2">Nữ</label>
        </div>
      </div>
    </div>
    <div class="form-group px-3 d-flex justify-content-end">
      <label for="email" class="col-2 ml-2">Email<span class="text-danger">*</span></label>
      <div class="col-10">
        <input class="form-control" type="text" id="email" formControlName="email">
        <div *ngIf="passengerForm.get('email').invalid && passengerForm.get('email').touched"
             class="alert alert-danger mt-2 mb-0">
          <span *ngIf="passengerForm.get('email').hasError('required')">Email không được để trống.</span>
          <span *ngIf="passengerForm.get('email').hasError('pattern')">Email không đúng định dạng.</span>
        </div>
      </div>
    </div>
    <div class="form-group px-3 d-flex justify-content-end">
      <label for="diachi" class="col-2 ml-2">Địa chỉ<span class="text-danger">*</span></label>
      <div class="col-10">
        <input class="form-control" type="text" id="diachi" formControlName="address">
        <div *ngIf="passengerForm.get('address').invalid && passengerForm.get('address').touched"
             class="alert alert-danger mt-2 mb-0">
          <span *ngIf="passengerForm.get('address').hasError('required')">Địa chỉ không được để trống.</span>
          <span
            *ngIf="passengerForm.get('address').hasError('maxlength')">Địa chỉ không được nhiều hơn 255 ký tự.</span>
        </div>
      </div>
    </div>
    <div class="form-group px-3 d-flex justify-content-end">
      <label for="sdt" class="col-2 ml-2">Số điện thoại<span class="text-danger">*</span></label>
      <div class="col-10">
        <input class="form-control" type="text" id="sdt" formControlName="phoneNumber">
        <div *ngIf="passengerForm.get('phoneNumber').invalid && passengerForm.get('phoneNumber').touched"
             class="alert alert-danger mt-2 mb-0">
              <span
                *ngIf="passengerForm.get('phoneNumber').hasError('required')">Số điện thoại không được để trống.</span>
          <span *ngIf="passengerForm.get('phoneNumber').hasError('pattern')">Số điện thoại bắt buộc là số.</span>
          <span
            *ngIf="passengerForm.get('phoneNumber').hasError('maxlength')">Số điện thoại không được nhiều hơn 20 số.</span>
        </div>
      </div>
    </div>
    <div class="form-group px-3 d-flex justify-content-end">
      <label for="cmnd" class="col-2 ml-2">CMND/Passport<span class="text-danger">*</span></label>
      <div class="col-10">
        <input class="form-control" type="text" id="cmnd" formControlName="identifierCard">
        <div *ngIf="passengerForm.get('identifierCard').invalid && passengerForm.get('identifierCard').touched"
             class="alert alert-danger mt-2 mb-0">
          <span *ngIf="passengerForm.get('identifierCard').hasError('required')">CMND không được để trống.</span>
          <span *ngIf="passengerForm.get('identifierCard').hasError('pattern')">CMND không đúng định dạng.</span>
          <span
            *ngIf="passengerForm.get('identifierCard').hasError('minlength')||passengerForm.get('idCard').hasError('maxlength')">CMND phải có ít nhất 6 số và nhiều nhất 20 số.</span>
        </div>
      </div>
    </div>
  </form>
  <div class=" col-12 form-group px-3 d-flex justify-content-end">
    <button class="btn btn-success mt-3 mr-3" style="width: 100px" [disabled]="passengerForm.invalid"
            (click)="addPassenger()">Thêm mới
    </button>
    <button class="btn btn-warning mt-3 mr-3" style="width: 100px" (click)="cancel()">Hủy</button>
  </div>
</div>

