<div mat-dialog-content>
  <header>
    <h2 class="text-info">
      Tìm kiếm thông tin hóa đơn
    </h2>
  </header>
  
  <form [formGroup]="formSearchBills">
    <div class="form-group mt-2">
      <div class="row mb-3">
        <!-- <div class="form controlname col-4"></div> -->
        <label for="indenOrder" class="col-form-label col-3">Mã hóa đơn:</label>
        <input formControlName="billCode" type=text class=" form-control col-8" id="indenOrder">
      </div>
      <div class="row mb-3">
        <!-- <div class="form controlname col-4"></div> -->
        <label for="more info" class="col-form-label col-3">Thêm thông tin</label>
        <div class="col-8">
          <div class="row">
            <input formControlName="billTax" type="text" class="form-control col-4 mr-5" placeholder="Mã số thuế">
            <input formControlName="name" type=text class="form-control col-7" placeholder="Tên khách hàng">
          </div>
        </div>
      </div>
    
    
      <!-- <div class="row">
        <label for="indent" class="col-form-label col-3">Mã kiểm tra:</label>
        <div class="col-8">
          <div class="row">
            <input type="text" class="form-control col-4 mr-5" placeholder="  Capcha img"> 
            <input type=text class="form-control col-7" id="indent">  
          </div>
        </div>
      </div> -->
    </div>
    
    <div class="form-group row">
      <label for="captcha" class="col-md-3 col-form-label">Mã xác minh</label>
      <div class="col-md-9 row">
        <div class="captchaCode col-md-3" id="captcha" (change)="createCaptcha()"></div>
        <div (click)="createCaptcha()"><i style="margin-top: 20px" class="col-md-9 fas fa-redo-alt"></i></div>
      </div>
    </div>
  
    <div class="form-group row">
      <label for="confirmCaptchaCode" class="col-3 col-form-label">Nhập mã captcha<span
          class="text-danger">*</span></label>
      <div class="col-8">
        <input formControlName="confirmCaptchaCode" type="text" class="form-control" id="confirmCaptchaCode"
          [class.mark-success]="confirmCaptchaCode.valid">
         
        <!-- <div *ngIf="confirmCaptchaCode.touched">
          <ng-container *ngFor="let error of errors.captchaErrors">
            <small *ngIf="confirmCaptchaCode.hasError(error.code)" class="d-block text-danger"
              role="alert">{{error.message}}</small>
          </ng-container>
        </div> -->
        <div class="d-block text-danger mt-1" role="alert"
          *ngIf="formSearchBills.hasError('checkCaptchaCode') && confirmCaptchaCode.touched">Mã xác minh không đúng
        </div>
         <p *ngIf="formSearchBills.controls.confirmCaptchaCode.errors?.required && formSearchBills.controls.confirmCaptchaCode.touched" class="text-danger">Không được để trống trường này</p>
      </div>
    </div>
    
  </form>
  
  <div class="row mb-3">
    <p class="col-8"></p>
    <button type="button" class="col-3 btn btn-outline-primary" (click)="searchBills()">Tìm hóa đơn</button>
  </div>
  
  <div class="row">
    <div class="col-3 "></div>
    <div *ngIf="message" id="message" class="text-danger"> {{message}}</div>
  </div>
  
  <div class="row">
    <div class="col-1"></div>
  
    <table class="table table-hover col-10" id="result" hidden>
  
  
      <thead class="table-primary">
        <td> Bill ID</td>
        <td> Mã số thuế </td>
        <td> Ngày hóa đơn </td>
        <td> Tình trạng đơn </td>
        <td> Mã hóa đơn </td>
        <td> Khách hàng </td>
        <td>  </td>
      </thead>
  
      <tr *ngFor=" let bills of billsListSearch |async | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>
          {{bills.id}}
        </td>
        <td>
          {{bills.taxCode}}
        </td>
        <td>
          {{bills.dateCreated}}
        </td>
        <td>
          {{bills.transaction.status}}
        </td>
        <td>
          {{bills.billCode}}
        </td>
        <td>
          {{bills.transaction.account.fullName}}
        </td>
        <td>  <button type="button" class="btn btn-outline-info" (click)="openDialogViewBills()"> Xem hóa đơn</button></td>
      </tr>
  
    </table>
    <pagination-controls (pageChange)="p = $event" ></pagination-controls>
  
  
    <div class="col-11 modal-footer">
      <button type="button" class="btn btn-secondary" mat-dialog-close>Đóng</button>
      <!-- <button type="button" class="btn btn-outline-info ">Chuyển đến tải hóa đơn</button> -->
    </div>
</div>