<div class="container w-100">
  <form id="regForm" [formGroup]="ticketForm">
    <mat-horizontal-stepper #stepper linear>
      <mat-step formGroupName="flightDetails" 
        [stepControl]="ticketForm.get('flightDetails')">
        <ng-template matStepLabel>Chọn chuyến bay</ng-template>
        <app-book-ticket-step1 [flight] = "flight" [ticketForm]="ticketForm"></app-book-ticket-step1>
      </mat-step>
      <mat-step formGroupName="otherDetails" 
      [stepControl]="ticketForm.get('adultPassengers')" [stepControl]="ticketForm.get('otherDetails')"
      [stepControl]="ticketForm.get('childPassengers')">
        <ng-template matStepLabel>Nhập thông tin vé</ng-template>
        <app-book-ticket-step2 [flight] = "flight" [ticketForm]="ticketForm"></app-book-ticket-step2>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
