<div class="modal-header">
  <h5 class="modal-title">
    <em class="fas fa-info-circle"></em>
    Chi tiết chuyến bay
  </h5>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row text-left">
      <div class="col-md">
        <img class="img-icon" width="80" height="50" src="assets/branches-image/jetstar.png" alt="">
      </div>
      <div class="col-md">
        <small>Hồ Chí Minh - SGN</small>
        <small>Tân sơn nhất</small>
        <small>Cất cánh: <span>07:45</span></small>
        <small>Ngày: <span>27/08/2020</span></small>
      </div>
      <div class="col-md">
        <small>Hà Nội - HAN</small>
        <small>Nội Bài</small>
        <small>Hạ cánh: <span>09:55</span></small>
        <small>Ngày: <span>27/08/2020</span></small>
      </div>
      <div class="col-md">
        <small>Chyến bay: <span>JS250</span></small>
        <small>Thời gian bay: <span>02h 10p</span></small>
        <small>Máy bay: <span>A321</span></small>
        <small>Hành lý xách tay: <span>7kg</span></small>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
</div>
