<div class="modal-header">
  <h5 class="modal-title">
    <em class="fas fa-info-circle"></em>
    Chi tiết chuyến bay
  </h5>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row text-left">
      <div class="col-md text-center">
        <img class="img-icon" width="70" height="40" [src]="branchImages[flightDetail.branch.id]" alt="">
        <h6 class="mt-md-3">{{flightDetail.branch.name}}</h6>
      </div>
      <div class="col-md">
        <small>{{flightDetail.departureAirport.city}} - {{flightDetail.departureAirport.code}}</small>
        <small>{{flightDetail.departureAirport.name}}</small>
        <small>Cất cánh: <span>{{flightDetail.departureDateTime | date: 'HH:mm'}}</span></small>
        <small>Ngày: <span>{{flightDetail.departureDateTime | date: 'dd/MM/yyyy'}}</span></small>
      </div>
      <div class="col-md">
        <small>{{flightDetail.arrivalAirport.city}} - {{flightDetail.arrivalAirport.code}}</small>
        <small>{{flightDetail.arrivalAirport.name}}</small>
        <small>Cất cánh: <span>{{flightDetail.arrivalDateTime | date: 'HH:mm'}}</span></small>
        <small>Ngày: <span>{{flightDetail.arrivalDateTime | date: 'dd/MM/yyyy'}}</span></small>
      </div>
      <div class="col-md">
        <small>Chyến bay: <span>{{flightDetail.flightCode}}</span></small>
        <small>Thời gian bay: <span>{{interval}}</span></small>
        <small>Hành lý xách tay: <span>7kg</span></small>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="modal.close()">Đóng</button>
</div>
