<body>
<div class="signup-form">
  <form  class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

    <div class="form-group row">
      <label class="col-form-label col-4">Email Address</label>
      <div class="col-8">
        <input type="text" class="form-control"  required="required" formControlName="email" >
        <span class="text-danger"
              *ngIf=" submitted && registerFormControl.email.errors?.required">
                                Vui lòng nhập email !
                            </span>
        <span class="text-danger"
              *ngIf=" submitted && registerFormControl.email.errors?.email">
                                Email không hợp lệ !
                            </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">Password</label>
      <div class="col-8">
        <input type="email" class="form-control" required="required" formControlName="password">
        <span  class="text-danger"
           *ngIf="registerFormControl.password.errors?.minlength && submitted">Mật khẩu phải nhiều hơn 6 kí tự !</span>
        <span  class="text-danger"
           *ngIf="registerFormControl.password.errors?.maxlength && submitted">Mật khẩu phải ít hơn 20 kí tự !</span>
        <span class="text-danger"
              *ngIf=" submitted && registerFormControl.password.errors?.required">
                                Vui lòng nhập mật khẩu !
                            </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">Confirm Password</label>
      <div class="col-8">
        <input type="text" class="form-control"  required="required" formControlName="confirmPassword">
        <span class="text-danger"
              *ngIf="submitted && registerFormControl.confirmPassword.errors?.required">
                                Vui lòng xác nhận mật khẩu !
                            </span>
        <span class="text-danger"
              *ngIf="registerFormControl.confirmPassword.errors?.passwordMismatch && submitted ">
                                Xác nhận mật khẩu thất bại !
                            </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">Phone</label>
      <div class="col-8">
        <input type="text" class="form-control"  required="required" formControlName="phoneNumber">
        <span class="text-danger"
              *ngIf="submitted && registerFormControl.phoneNumber.errors?.required">
                                Vui lòng nhập số điện thoại !
                            </span>
        <span class="text-danger"
              *ngIf="registerFormControl.phoneNumber.errors?.pattern && submitted ">
                                Số điện thoại không đúng định dạng !
                            </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">Name</label>
      <div class="col-8">
        <input type="text" class="form-control"  required="required" formControlName="fullName">
        <span class="text-danger"
              *ngIf=" submitted && registerFormControl.fullName.errors?.required">
                                Vui lòng nhập tên !
                            </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">Birth</label>
      <div class="col-8">
        <mat-form-field class="">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="dob" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
          <mat-datepicker #dob></mat-datepicker>
          <mat-error *ngIf="submitted && registerFormControl.birthDate.errors?.required">
            Vui lòng nhập ngày sinh!
          </mat-error>
          <mat-error *ngIf="submitted && registerForm.get('birthDate').hasError('invalidDOBYear')">
            Bạn phải đủ 18 tuổi để sử dụng dịch vụ này !
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-4">Address</label>
      <div class="col-8">
        <input type="text" class="form-control"  required="required" formControlName="address">
        <span class="text-danger"
              *ngIf="(registerFormControl.address.touched || submitted) && registerFormControl.address.errors?.required">
                                Bạn phải nhập điạ chỉ !
                            </span>
      </div>
    </div>

    <div class="form-group row">
      <!-- Material inline 1 -->
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample" formControlName="gender" value="male">
        <label class="form-check-label" for="materialInline1">male</label>
      </div>

      <!-- Material inline 2 -->
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample" formControlName="gender" value="female">
        <label class="form-check-label" for="materialInline2">female</label>
      </div>

      <!-- Material inline 3 -->
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample"formControlName="gender" value="other">
        <label class="form-check-label" for="materialInline3">other</label>
      </div>
      <span class="text-danger"
            *ngIf="submitted && registerFormControl.gender.errors?.required">
                                Vui lòng chọn giới tính !
                            </span>
    </div>

    <div class="form-group row">
      <div class="col-8 offset-4">
        <p><label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a>.</label></p>
        <button type="submit" class="btn btn-primary btn-lg" >Sign Up</button>
      </div>
    </div>
  </form>
  <div class="text-center">Already have an account? <a href="#">Login here</a></div>
</div>
</body>
