<div id="navbar-wrapper">
    <header>
        <nav class="navbar navbar-default fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: white">Phòng Vé C03 Pro</a>
                </div>

                <div class="nav navbar-right">
                    <div id="user-profile">
                        <a href="#" style="text-decoration: none; color: white">
                            <i class="fas fa-cog"></i> Hồ sơ</a>
                        <a href="#" style="text-decoration: none; color: white">
                            <i class="far fa-user"></i> Đăng xuất</a>
                    </div>
                </div>

            </div>
        </nav>
    </header>
</div> <!--navbar-wrapper-->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fas fa-user"></i></span>
                        <span class="sidebar-title">Thông tin nhân viên</span>
                    </a>
                </li>
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                        <span class="sidebar-icon"><i class="far fa-gem"></i></span>
                        <span class="sidebar-title">Khách hàng</span>
                        <b class="caret"></b>
                    </a>
                </li>
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                        <span class="sidebar-icon"><i class="fa fa-shopping-cart"></i></span>
                        <span class="sidebar-title">Quản lý bán vé</span>
                        <b class="caret"></b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fas fa-clipboard-check"></i></span>
                        <span class="sidebar-title">Quản lý đặt vé</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fa fa-chart-line"></i></span>
                        <span class="sidebar-title">Thống kê</span>
                    </a>
                </li>
            </ul>

        </aside>
    </div> <!--sidebar-wrapper-->
    <main>
        <div class="main-content container w-75">
            <router-outlet></router-outlet>
        </div>
    </main>