<div class="container mt-3">
    <form [formGroup]="feedBackForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <span class="icon-title table-cell">
                    <i style="font-size: 60px;" class="fas fa-envelope-open-text text-info"></i>
                </span>
                <span class="font-weight-bolder text-info" >
                    <u>ĐÓNG GÓP Ý KIẾN</u>
                </span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 col-sm-6 fix-pad-500">
                <img class="img-responsive w-100" src="/assets/send-feedback-image/info-feedback.jpg" alt="">
                <div class="mt-3">
                    <strong><em>Với phương châm khách hàng là trọng tâm, C0320G1-Air luôn luôn mong muốn được lắng nghe
                        nhiều hơn ý kiến từ phía khách hàng. Mọi ý kiến đóng góp từ phía Quý khách sẽ được chúng tôi ghi
                        nhận và sử dụng để liên tục cải thiện và nâng cao chất lượng dịch vụ. Quý khách có thể cung cấp
                        các ý kiến phản hổi về C0320G1-Air theo mẫu bên cạnh. Xin chân thành cảm ơn!
                    </em></strong>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 fix-pad-500">

                <div class="form-group">
                    <span class="title font-weight-bold">Chủ đề <i class="text-danger">*</i></span>
                    <ng-container *ngFor="let error of feedBackErrors.topicErrors">
                        <small *ngIf="topic.hasError(error.name)" class="d-block text-danger">
                            {{error.message}}
                        </small>
                    </ng-container>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="topic1" name="topic" formControlName="topic" value="khen ngợi" >
                        <label for="topic1" class="form-check-label">
                        Cảm ơn, khen ngợi
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="topic2" name="topic" formControlName="topic" value="đề xuất">
                        <label for="topic2" class="form-check-label">
                        Đề xuất, đóng góp
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="topic3" name="topic" formControlName="topic" value="khiếu nại" checked>
                        <label for="topic3" class="form-check-label">
                        Khiếu nại,phàn nàn
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="topic4" name="topic" formControlName="topic" value="khác" >
                        <label for="topic4" class="form-check-label">
                        khác
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="customerName" class="title font-weight-bold">Họ và tên <i class="text-danger">*</i></label>
                    <input id="customerName" type="text" class="form-control" formControlName="customerName" placeholder="Nguyễn Văn A" [class.mark-success]="customerName.valid">
                    <div *ngIf="customerName.touched">
                        <ng-container *ngFor="let error of feedBackErrors.customerNameErrors">
                            <small *ngIf="customerName.hasError(error.name)" class="d-block text-danger">
                                {{error.message}}
                            </small>
                        </ng-container>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="customerPhone" class="title font-weight-bold">Số điện thoại <i class="text-danger">*</i></label>
                        <input id="customerPhone" type="tel" formControlName="customerPhone" class="form-control" [class.mark-success]="customerPhone.valid">
                        <div *ngIf="customerPhone.touched">
                            <ng-container *ngFor="let error of feedBackErrors.customerPhoneErrors">
                                <small *ngIf="customerPhone.hasError(error.name)" class="d-block text-danger"> 
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="customerEmail" class="title font-weight-bold">Email <i class="text-danger">*</i></label>
                        <input id="customerEmail" type="email" formControlName="customerEmail" class="form-control" [class.mark-success]="customerEmail.valid">
                        <div *ngIf="customerEmail.touched">
                            <ng-container *ngFor="let error of feedBackErrors.customerEmailErrors">
                                <small *ngIf="customerEmail.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="confirmCaptchaCode" class="title font-weight-bold">Mã xác thực <i class="text-danger">*</i></label>
                        <input id="confirmCaptchaCode" type="text" formControlName="confirmCaptchaCode" class="form-control" [class.mark-success]="confirmCaptchaCode.valid">
                        <div *ngIf="confirmCaptchaCode.touched">
                            <ng-container *ngFor="let error of feedBackErrors.confirmCaptchaCodeErrors">
                                <small *ngIf="confirmCaptchaCode.hasError(error.name)" class="d-block text-danger">
                                    {{error.message}}
                                </small>
                            </ng-container>
                        </div>
                    </div>
                    <div  class="form-group col-md-6 row">
                        <div class="col-md-9">
                            <i style="font-size: 13px;">(Vui lòng nhập mã Capcha)</i>
                            <div class="captchaCode d-flex justify-content-center" id="captcha"></div>
                        </div>
                        <div class="col-md-3 d-flex align-items-end">
                            <span style="cursor: pointer" (click)="createCaptcha()">
                                <img id="captcha_btn" border="0" alt="refresh" src="/assets/send-feedback-image/refresh.png" style="margin: 10px 0px">
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-3">
            <label for="content" class="title font-weight-bold">Nội dung <i class="text-danger">*</i></label>
            <textarea id="content" rows="6" formControlName="content" class="form-control" placeholder="Nhập nội dung vào đây" [class.mark-success]="content.valid" ></textarea>
            <div *ngIf="content.touched">
                <ng-container *ngFor="let error of feedBackErrors.contentErrors">
                    <small *ngIf="content.hasError(error.name)" class="d-block text-danger">
                        {{error.message}}
                    </small>
                </ng-container>
            </div>
        </div>

        <div class="row mt-3 d-flex justify-content-center">
            <button class="btn btn-info" type="submit" [disabled]="feedBackForm.invalid" >
                <img src="/assets/send-feedback-image/submit.png" alt=""> Gửi góp ý
            </button>
            <img id="loading-img" src="https://fpt.vn/assets/frontend/img/loading.gif" alt="" style="display: none">
        </div>
    </form>

    <div class="modal fade" id="success">
        <div class="modal-dialog ">
            
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title text-success"><u>Gửi phản hồi thành công</u></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                  
                <div class="modal-body alert alert-success">
                    <span>
                        <strong>C0320G1-Booking</strong> xin cảm ơn Quý khách đã tin tưởng lựa chọn sử dụng sản phẩm và dịch vụ của chúng tôi.Phản hồi của 
                        quý khách đã được ghi nhận, chúng tôi sẽ hồi âm đến quý khách trong thời gian sớm nhất có thể. Xin cảm ơn !
                    </span>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="reFill()">Viết phản hồi khác</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" routerLink="/" >Đi đến trang chủ</button>
                </div>    
            </div>
        </div>
    </div>

    <div class="modal fade" id="violation">
        <div class="modal-dialog ">
            
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title text-danger"><u>WARNING !!!</u></h4>
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>
                  
                <div class="modal-body alert alert-danger">
                    <span>
                        Bạn đang cố gắng xâm nhập vào hệ thống của chúng tôi, nếu chúng tôi phát hiện bất kỳ hành động nào tương tự lặp lại một lần nữa, bạn có thể sẽ phải đối mặt với pháp luật.
                    </span>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" routerLink="/" >Đi đến trang chủ</button>
                </div>    
            </div>
        </div>
    </div>
    <br><br>
</div>