<h3>Danh sách hóa đơn</h3>

<div style="position: absolute; left: -1000px; top: 0;">
  <kendo-pdf-export #pdf paperSize="A4" margin="1cm">
    <div style="width: 495px;">
      <h4 class="text-center text-danger"> VÉ ĐIỆN TỬ VÀ XÁC NHẬN HÀNH TRÌNH</h4>
      <h5 class="text-center text-dark">E-TICKET RECEIPT</h5>
      <p class="text-dark"><b> Người thanh toán:</b> {{bill?.transaction?.account?.fullName}}</p>
      <p class="text-dark"><b> Trạng thái:</b> {{bill?.transaction?.status}}</p>
      <p class="text-dark"><b> Tổng tiền:</b> {{bill?.transaction?.price}} VNĐ</p>

      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Ngày tạo</th>
            <th>Mã chuyến bay</th>
            <th>Nơi đi</th>
            <th>Thời gian đi</th>
            <th>Nơi đến</th>
            <th>Thời gian đến</th>


          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <td>{{bill?.dateCreated| date: 'dd/MM/yyyy'}}</td>
            <td>{{bill?.transaction?.flightSchedule?.flightCode}}</td>
            <td>{{bill?.transaction?.flightSchedule?.departureAirport?.city}}</td>
            <td>{{bill?.transaction?.flightSchedule?.departureDateTime| date: 'hh:mm'}}</td>
            <td>{{bill?.transaction?.flightSchedule?.arrivalAirport?.city}}</td>
            <td>{{bill?.transaction?.flightSchedule?.arrivalDateTime| date: 'hh:mm'}}</td>

          </tr>
        </tbody>
      </table>
      <p><b>THÔNG TIN QUAN TRỌNG</b></p>
      <p><small><i>Giấy tờ tùy thân: Quý khách vui lòng mang theo giấy tờ tùy thân(CMND, passport, giấy phép lái xe,
            giấy khai sinh khi làm thủ tục</i></small> </p>
      <small><i>Thời gian: Đến sân bay ít nhất 1h30 trước giờ bay để làm thủ tục</i></small>
      <small><i><b>Vui lòng đọc kỹ mọi thông tin trên vé trước khi nhận và thanh toán. Chúng tôi không chịu trách nhiệm
            nào về sai sót thông tin sau khi quý khách đã nhận vé và thanh toán</b></i></small>
    </div>
  </kendo-pdf-export>
</div>

<table class="table table-bordered table-striped text-center abc">
  <thead class="bg-warning">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã hóa đơn</th>
      <th scope="col">Người thanh toán</th>
      <th scope="col">Tổng tiền</th>
      <th scope="col"><input type="checkbox" id="checkAll" />&nbsp;</th>
    </tr>
  </thead>
  <tbody class="bg-white">
    <tr
      *ngFor="let bill of bills | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements} index as i ">
      <td>{{i+1}}</td>
      <td>{{bill?.billCode}}</td>
      <td>{{bill?.transaction?.account?.fullName}}</td>
      <td>{{bill?.transaction?.price | number }} đ</td>
      <td><input type="checkbox" (click)="getCheckBoxValue($event)" name="billId" value={{bill?.id}} /></td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>

<button class="btn btn-dark" id="downloadBills" data-toggle="modal" data-target="#download" (click)="preparePdf()">Tải
  hóa đơn</button>


<div class="modal fade" id="download" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Bạn có muốn tải hóa đơn đã chọn?</h4>
      </div>
      <div class="modal-body">
        <p class="text-danger"><b>Lưu ý: Các tiền dịch vụ khác không kèm theo hóa đơn này</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="printBill()">Xác
          nhận</button>
        <button id="print" type="button" (click)="pdf.saveAs('bill.pdf')" hidden></button>
      </div>
    </div>
  </div>
</div>