<h3>Danh sách hóa đơn</h3>

<table class="table table-bordered table-striped text-center">
  <thead class="bg-warning">
  <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã hóa đơn</th> 
      <th scope="col">Người thanh toán</th> 
      <th scope="col">Tổng tiền</th> 
      <th scope="col"><input type="checkbox" id="checkAll" />&nbsp;</th>              
  </tr>
  </thead>
  <tbody class= "bg-white">
    <tr *ngFor = "let bill of bills | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements} index as i ">
        <td>{{i+1}}</td>
        <td>{{bill.billCode}}</td>
        <td>{{bill.transaction.account.fullName}}</td>
        <td>{{bill.transaction.price | number }} đ</td>
        <td><input type="checkbox" name="name2" id="checkItem" /></td>
    </tr>     
    </tbody>
  </table>   
<div class="pagination">
  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>

<button class="btn btn-dark" id="downloadBills" data-toggle = "modal" data-target="#download">Tải hóa đơn</button>




<div class="modal fade" id="download" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn có muốn tải hóa đơn đã chọn?</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger"><b>Lưu ý: Các tiền dịch vụ khác không kèm theo hóa đơn này</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="downloadBills()">Xác nhận</button>              
            </div>
        </div>
    </div>
  </div>

