<div class="container mt-2">
  <div class="row">
    <div class="col">
      <h1>Hành khách tự làm thủ tục</h1>
    </div>
  </div>

  <div class="box">
    <div class="col">
      <p class="mt-3">
        Sẵn sàng cho chuyến bay vui vẻ, thoải mái cùng C0320G1, Bạn có thể làm thủ tục chuyến bay trực tuyến
        nhanh chóng, tiện lợi, đơn giản.
      </p>
      <p>1. Thời gian tự làm thủ tục trực tuyến</p>
      <ul>
        <li>
          Đối với chuyến bay nội địa khai thác bởi C0320G1 xuất phát từ sân bay Nội Bài (HAN), Đà Nẵng
          (DAD), Tân Sơn Nhất (SGN): Áp dụng từ 24 giờ đến 1 giờ trước giờ khởi hành.
        </li>
        <li>
          Đối với chuyến bay nội địa Thái Lan khai thác bởi Thái C0320G1 khởi hành từ sân bay
          Suvarnabhumi (BKK): Áp dụng từ 24h đến 1 giờ trước giờ khởi hành.
        </li>
        <li>Chưa áp dụng chuyến bay quốc tế khác</li>
      </ul>
      <p>2. Lưu ý: Tự làm thủ tục không áp dụng cho các trường hợp sau:</p>
      <ul>
        <li>Hành khách đi cùng em bé hoặc hành khách đang mang thai.</li>
        <li>Hành khách hạn chế khả năng vận động hoặc cần trợ giúp đặc biệt.</li>
        <li>Có hơn 9 hành khách trong cùng 1 mã đặt chỗ.</li>
        <li>Hành khách có hành lý ký gửi phải đến quầy làm thủ tục gửi hành lý.</li>
        <li>Hành khách cần xuất trình giấy tờ cho nhân viên làm thủ tục (*)</li>
        <li>Hành khách (từ 12 - 16 tuổi) đi một mình (*)</li>
      </ul>
      <p>(*) Áp dụng đối với các chuyến bay nội địa Thái Lan khởi hành từ sân bay Suvarnabhumi (BKK) </p>
    </div>

    <div class="col">
      <form [formGroup]="formSearchCustomer" (ngSubmit)="search()">
        <div class="row">
          <div class="col-md">
            <label>Mã đặt chỗ</label><span style="color: red"> (*)</span>
            <input type="text" class="form-control" style="width: 300px" id="id" formControlName="id">
            <p
              *ngIf="formSearchCustomer.controls.id.errors?.required && formSearchCustomer.controls.id.touched"
              class="text-danger font-weight-bold"><b><i>
              Mã đặt chỗ không được để trống !</i></b></p>
            <p
              *ngIf="formSearchCustomer.controls.id.errors?.pattern && formSearchCustomer.controls.id.touched"
              class="text-danger font-weight-bold"><b><i>
              Mã đặt chỗ không được chứa kí tự đặc biệt !</i></b></p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md">
            <label>Mã xác nhận:</label><span class="text-danger"> (*)</span>
            <div class="row">
              <div class="col-2">
                <div class="captchaCode" id="captcha" (change)="createCaptcha()"></div>
              </div>
              <div class="col-3" (click)="createCaptcha()"><i class="fas fa-sync-alt"></i></div>
            </div>
            <input type="text" class="form-control" style="width: 300px" id="captchaTextBox"
                   formControlName="confirmCaptchaCode" [class.mark-success]="confirmCaptchaCode.valid">
            <div *ngIf="confirmCaptchaCode.touched">
              <ng-container *ngFor="let error of errors.captchaErrors">
                <p *ngIf="confirmCaptchaCode.hasError(error.code)" class="text-danger font-weight-bold"
                   role="alert"><b><i>{{error.message}}</i></b></p>
              </ng-container>
            </div>
            <div class="text-danger font-weight-bold" role="alert"
                 *ngIf="formSearchCustomer.hasError('checkCaptchaCode') && confirmCaptchaCode.touched"><p><b><i>Mã xác minh
              không đúng !</i></b></p>
            </div>
          </div>
        </div>
        <div class="row mt-3 justify-content-center mb-4">
          <div>
            <button type ="button" (click)="home()" class="btn btn-primary mr-5" style="width: 300px">Trang chủ</button>
            <button [disabled]="formSearchCustomer.invalid" class="btn btn-primary"
                    style="width: 300px" type="submit">Xem chuyến bay
            </button>
          </div>
        </div>
        <h6 class="text-danger"><b><i>{{message}}</i></b></h6>

      </form>
    </div>

    <div class="col" *ngIf="hideableDiv">
      <table class="table table-striped mt-2 text-center">
        <thead class="bg-primary text-white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Mã đặt chỗ</th>
          <th scope="col">Tên khách hàng</th>
          <th scope="col">Tuyến bay</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transactionDetail of transactionDetails | async ; index as i">
          <td>{{stt[i]}}</td>
          <td>{{transactionDetail?.transaction?.id}}</td>
          <td>{{transactionDetail?.passenger?.fullName}}</td>
          <td>{{transactionDetail?.transaction?.flightSchedule?.departureAirport.city + " - " + transactionDetail?.transaction?.flightSchedule?.arrivalAirport.city}}</td>
        </tr>
        </tbody>
      </table>

      <div class="row mt-3 justify-content-center mb-4">
        <div>
          <button type="button" class="btn btn-primary mr-5" style="width: 300px" (click)="back()">Hủy</button>
          <button  class="btn btn-primary" style="width: 300px" (click)="checkin()" type="button">Hoàn tất thủ tục</button>
        </div>

      </div>

    </div>

  </div>

</div>
