  <div class="modal-header">
    <h5 class="modal-title">Thông tin chuyến bay</h5>
  </div>
  <div class="modal-body">
    <div class="container">
      <!-- departure -->
      <div class="row bg-color-custom text-center">
        <h5 class="text-light ml-md-2">Khởi hành từ TP Hồ Chí Minh</h5>
      </div>
      <hr>
      <div class="row">
        <!-- đi -->
        <div class="col-md">
          <p>TP Hồ Chí Minh (SGN)</p>
          <p>07:00, 27/08/2020</p>
          <p>Tân sơn nhất</p>
        </div>
        <!-- đến -->
        <div class="col-md">
          <p>Hà Nội (HAN)</p>
          <p>09:00, 27/08/2020</p>
          <p>Nội Bài</p>
        </div>
        <!-- hãng bay -->
        <div class="col-md">
          <p>Vietnam Airline</p>
          <p>Chyến bay: VN123</p>
          <p>Loại vé: Phổ thông</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <p class="font-weight-bold">Hành khách</p>
          <p>Người lớn</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold">Số lượng</p>
          <p>1</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold">Giá vé</p>
          <p>1.290.000 VND</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold">Thuế và phí</p>
          <p>550.000 VND</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold"> Tổng giá </p>
          <p>1.840.000 VND</p>
        </div>
      </div>
      <!-- return -->
      <div class="row bg-color-custom text-center mt-md-4">
        <h5 class="text-light ml-md-2">Khởi hành từ Hà Nội</h5>
      </div>
      <hr>
      <div class="row">
        <!-- đi -->
        <div class="col-md">
          <p>Hà Nội (HAN)</p>
          <p>11:30, 29/08/2020</p>
          <p>Nội Bài</p>
        </div>
        <!-- đến -->
        <div class="col-md">
          <p>TP Hồ Chí Minh (SGN)</p>
          <p>13:30, 29/08/2020</p>
          <p>Tân sơn nhất</p>
        </div>
        <!-- hãng bay -->
        <div class="col-md">
          <p>Bamboo Airline</p>
          <p>Chyến bay: QH451</p>
          <p>Loại vé: Phổ thông</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <p class="font-weight-bold">Hành khách</p>
          <p>Người lớn</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold">Số lượng</p>
          <p>1</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold">Giá vé</p>
          <p>1.190.000đ</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold">Thuế và phí</p>
          <p>550.000đ</p>
        </div>
        <div class="col-md">
          <p class="font-weight-bold"> Tổng giá </p>
          <p>1.740.000đ</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
    <a class="btn btn-confirm-fn" href="confirm.html">Đặt vé</a>
  </div>
