  <div class="modal-header">
    <h5 class="modal-title">Thông tin chuyến bay</h5>
  </div>
  <div class="modal-body">
    <div class="container">
      <!-- departure -->
      <div class="row bg-color-custom text-center">
        <h5 class="text-light ml-md-2">Khởi hành từ {{departureInfo?.departureAirport?.city}}</h5>
      </div>
      <hr>
      <div class="row">
        <!-- đi -->
        <div class="col-md">
          <p>{{departureInfo?.departureAirport?.city}} ({{departureInfo?.departureAirport?.code}})</p>
          <p>{{departureInfo?.departureDateTime | date: 'HH:mm'}},
            {{departureInfo?.departureDateTime | date: 'dd/MM/yyyy'}}</p>
          <p>{{departureInfo?.departureAirport?.name}}</p>
        </div>
        <!-- đến -->
        <div class="col-md">
          <p>{{departureInfo?.arrivalAirport?.city}} ({{departureInfo?.arrivalAirport?.code}})</p>
          <p>{{departureInfo?.arrivalDateTime | date: 'HH:mm'}},
            {{departureInfo?.arrivalDateTime | date: 'dd/MM/yyyy'}}</p>
          <p>{{departureInfo?.arrivalAirport?.name}}</p>
        </div>
        <!-- hãng bay -->
        <div class="col-md">
          <p>{{departureInfo?.branch.name}}</p>
          <p>Chyến bay: {{departureInfo?.flightCode}}</p>
          <p>Loại vé: Phổ thông</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Hành khách</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Giá vé (VND)</th>
              <th scope="col">Thuế và phí (VND)</th>
              <th scope="col">Tổng giá (VND)</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let info of depPriceInfo">
              <tr>
                <td>{{info.passengerType}}</td>
                <td>{{info.quantity}}</td>
                <td>{{info.netPrice | number}}₫</td>
                <td>{{info.tax | number}}₫</td>
                <td>{{info.totalPrice | number}}₫</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <!-- return -->
      <ng-container *ngIf="returnInfo != null">
        <div class="row bg-color-custom text-center mt-md-4">
          <h5 class="text-light ml-md-2">Khởi hành từ {{returnInfo?.departureAirport?.city}}</h5>
        </div>
        <hr>
        <div class="row">
          <!-- đi -->
          <div class="col-md">
            <p>{{returnInfo?.departureAirport?.city}} ({{returnInfo?.departureAirport?.code}})</p>
            <p>{{returnInfo?.departureDateTime | date: 'HH:mm'}},
              {{returnInfo?.departureDateTime | date: 'dd/MM/yyyy'}}</p>
            <p>{{returnInfo?.departureAirport?.name}}</p>
          </div>
          <!-- đến -->
          <div class="col-md">
            <p>{{returnInfo?.arrivalAirport?.city}} ({{returnInfo?.arrivalAirport?.code}})</p>
            <p>{{returnInfo?.arrivalDateTime | date: 'HH:mm'}},
              {{returnInfo?.arrivalDateTime | date: 'dd/MM/yyyy'}}</p>
            <p>{{returnInfo?.arrivalAirport?.name}}</p>
          </div>
          <!-- hãng bay -->
          <div class="col-md">
            <p>{{returnInfo?.branch.name}}</p>
            <p>Chyến bay: {{returnInfo?.flightCode}}</p>
            <p>Loại vé: Phổ thông</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Hành khách</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá vé (VND)</th>
                <th scope="col">Thuế và phí (VND)</th>
                <th scope="col">Tổng giá (VND)</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let info of retPriceInfo">
                <tr>
                  <td>{{info.passengerType}}</td>
                  <td>{{info.quantity}}</td>
                  <td>{{info.netPrice | number}}₫</td>
                  <td>{{info.tax | number}}₫</td>
                  <td>{{info.totalPrice | number}}₫</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="close()">Đóng</button>
    <button class="btn btn-confirm-fn" (click)="goTo()">Đặt vé</button>
  </div>
