<main>
    <div class="main-content container w-100">
        <div style="border-radius: 25px;border: 2px solid #195B92">
            <h1 class="text-center font-weight-bold border-bottom mx-0 px-0">Tìm vé trống</h1>
            <form class="px-0" [formGroup]="findFlightForm">
                <div class="form-group row border-bottom mr-0 ml-0">
                    <div class="col-md-3 form-check ml-3 mb-2">
                        <input class="form-check-input" type="radio" name="flightType" id="flightType" value="Một chiều"
                            (click)="changeFlightType($event.target.value)" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Một chiều
                        </label>
                    </div>
                    <div class="col-md-3 form-check">
                        <input class="form-check-input" type="radio" name="flightType" id="flightType1" value="Khứ hồi"
                            (click)="changeFlightType($event.target.value)">
                        <label class="form-check-label" for="gridRadios1">
                            Khứ hồi
                        </label>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-6 row ml-1">
                        <label class="col-md-4 col-form-label" for="departurePlace"><i
                                class="fas fa-plane-departure"></i> Điểm đi</label>
                        <div class="col-md-8">
                            <select class="custom-select form-control" formControlName="departurePlace">
                                <option [selected]="true" value="" disabled>Vui lòng chọn điểm đi</option>
                                <option *ngFor="let airport of airports index as i" [ngValue]="airport">
                                    {{airport.city+" ("+airport.code+")"}}</option>
                            </select>
                            <div *ngIf="findFlightForm.get('departurePlace').invalid && findFlightForm.get('departurePlace').touched"
                                class="text-danger font-alert">
                                <span *ngIf="findFlightForm.get('departurePlace').hasError('required')">Vui lòng chọn
                                    điểm đi</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 row mr-1">
                        <label class="col-md-4 col-form-label"><i class="fas fa-plane-arrival"></i> Điểm đến</label>
                        <div class="col-md-8">
                            <select class="custom-select form-control" formControlName="arrivalPlace">
                                <option [selected]="true" value="" disabled>Vui lòng chọn điểm đi</option>
                                <option *ngFor="let airport of airports index as i" [ngValue]="airport"
                                    [disabled]="findFlightForm.get('departurePlace').value.id==airport.id">
                                    {{airport.city+" ("+airport.code+")"}}</option>
                            </select>
                            <div *ngIf="findFlightForm.get('arrivalPlace').invalid && findFlightForm.get('arrivalPlace').touched"
                                class="text-danger font-alert">
                                <span *ngIf="findFlightForm.get('arrivalPlace').hasError('required')">Vui lòng chọn điểm
                                    đến</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" formGroupName="flightDates">
                    <div class="col-md-6 row ml-1">
                        <label class="col-md-4 col-form-label"><i class="fas fa-blind"></i> Ngày đi</label>
                        <div class="col-md-8">
                            <input class="form-control" type="date" formControlName="departureDate">
                            <div *ngIf="findFlightForm.get('flightDates').get('departureDate').invalid && findFlightForm.get('flightDates').get('departureDate').touched"
                                class="text-danger font-alert">
                                <span
                                    *ngIf="findFlightForm.get('flightDates').get('departureDate').hasError('required')">Vui
                                    lòng chọn ngày đi</span>
                                <span
                                    *ngIf="findFlightForm.get('flightDates').get('departureDate').hasError('chooseDateGreaterThanCurrentDate')">Ngày
                                    đi không được bé hơn ngày hiện tại</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 row mr-1">
                        <label class="col-md-4 col-form-label"><i class="fas fa-blind"></i> Ngày về</label>
                        <div class="col-md-8">
                            <input class="form-control" type="date" [attr.disabled]="flightType?true:null"
                                formControlName="arrivalDate">
                            <div *ngIf="findFlightForm.get('flightDates').hasError('chooseArvDateSmallerThanDeptDate') && findFlightForm.get('flightDates').touched"
                                class="text-danger font-alert">
                                <span>Ngày về không được bé hơn ngày đi</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 row ml-1">
                        <div class="col-md-6 pl-3">
                            <label class="col-form-label" for="arrivalPlace"><i class="fas fa-male"></i> Người
                                lớn</label>
                        </div>
                        <div class="col-md-6 pr-0">
                            <input class="form-control" type="number" formControlName="adult">
                            <div *ngIf="findFlightForm.get('adult').invalid && findFlightForm.get('adult').touched"
                                class="text-danger font-alert">
                                <span *ngIf="findFlightForm.get('adult').hasError('min')">Số lượng phải lớn hơn 1</span>
                            </div>
                            <div class="text text-primary font-alert">
                                <span class="text-primary">*</span>Trên 12 tuổi
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 row mr-1">
                        <div class="col-md-6 pl-4">
                            <label class="col-form-label" for="arrivalPlace"><i class="fas fa-child"></i> Trẻ em</label>
                        </div>
                        <div class="col-md-6 pr-0">
                            <input class="form-control" type="number" formControlName="child">
                            <div *ngIf="findFlightForm.get('child').invalid && findFlightForm.get('child').touched"
                                class="text-danger font-alert">
                                <span *ngIf="findFlightForm.get('child').hasError('min')">Số lượng phải lớn hơn 0</span>
                            </div>
                            <div class="text text-primary font-alert">
                                <span class="text-primary ">*</span>Từ 2 - 12 tuổi
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 row mr-1">
                        <div class="col-md-6 pl-4">
                            <label class="col-form-label" for="arrivalPlace"><i class="fas fa-baby"></i> Em bé</label>
                        </div>
                        <div class="col-md-6 pr-0">
                            <input class="form-control" type="number" formControlName="baby">
                            <div *ngIf="findFlightForm.get('baby').invalid && findFlightForm.get('baby').touched"
                                class="text-danger font-alert">
                                <span *ngIf="findFlightForm.get('baby').hasError('min')">Số lượng phải lớn hơn 0</span>
                            </div>
                            <div class="text text-primary font-alert">
                                <span class="text-primary">*</span>Dưới 2 tuổi
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row d-flex justify-content-center mb-3">
                    <button type="button" class="btn btn-primary w-25" (click)="navigateBookTicketPage()"
                        [disabled]="!findFlightForm.valid"><i class="fas fa-search"></i> Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</main>