<div class="container-fluid">
  <div style="text-align: center;" class="justify-content-between">
    <h3>Danh Sách Khách Hàng</h3>
  </div>

  <div class="form-top row">
    <div class="col-md-2 addCus px-0">
      <a style="margin: 0" class="btn btn-primary " routerLink="/employee/add-passenger"> Thêm khách hàng</a>
    </div>
    <div class="col-md-6"></div>
    <form class="col-md-4 row" [formGroup]="formSearch" (ngSubmit)="search()">
      <div style="width: 28%">
        <select class="form-control" formControlName="key">
          <option [selected]="true" value="name">Họ tên</option>
          <option value="gender">Giới tính</option>
          <option value="email">Email</option>
          <option value="phone">SDT</option>
          <option value="birthday">Ngày sinh</option>
        </select>
      </div>
      <div style="width: 50%; margin-left: 1%">
        <input class="form-control" formControlName="value" placeholder="Search" aria-label="Search"></div>
      <div style="width: 20%;margin-left: 1%">
        <button style="width: 100%" type="submit" class="btn btn-success">Search</button>
      </div>
    </form>
  </div>


  <div id="table">
    <table class="table table-striped ">
      <thead style="background-color: #189EFF; color: black">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ Tên</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Email</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Điện thoại</th>
        <th scope="col">Chỉnh sửa</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let kh of customerList  | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}; index as i">
        <th scope="row">{{stt[i]}}</th>
        <td>{{kh.fullName}}</td>
        <td>{{kh.birthDate}}</td>
        <td>{{kh.address}}</td>
        <td>{{kh.email}}</td>
        <td>{{kh.gender}}</td>
        <td>{{kh.phoneNumber}}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/employee/list-passenger/update/'+kh.id]"><i
            class="fas fa-pen-nib">
            Sửa</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="text-align: center;" class="justify-content-between">
    <p class="text-danger"><b><i>{{message}}</i></b></p>
  </div>
  <div id="page" class="page">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
  </div>
</div>
